<% provide(:title, "Bienvenido") %>
<%= render partial: "/shared/distributor/header_band", 
  locals: {title: "Bienvenido", labels: ["Bienvenido"]} %>


<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="col-lg-12">
      <% if !@current_user.home_img.blank? %>
        <% home_img = @current_user.home_img.url %>
      <% end %>
        <% bgImage = @current_user.getHomeImage(image_url("distributor-default-bg.jpg")) %>
        <div class="widget-head-color-box p-lg text-center full-cover-bg text-white-sh p-xxl" 
          style="background-image: url('<%= bgImage %>'); position: relative;height: 400px;">
            <div class="m-b-md">
                <h2 class="font-bold no-margins"><%= @current_user.username %></h2>
                <small>Distribuidor</small>
            </div>
            <%= image_tag @current_user.avatar_url(:mini), class: "img-circle img-rounded m-b-md" %>
            <div class="m-sm pull-right-bottom">
                <span class="btn btn-primary" onclick="$('#distributor_home_img').click();">Cambiar imagen</span>

                <%= form_for(@current_user, url: distributor_update_home_image_path, method: :post, html: {style: "display: none;"}) do |f| %>
                  <%= f.file_field :home_img, class: "input form-control", onchange: "$('#commit').click();" %>

                  <%= f.submit :Guardar, id: "commit", class: "btn btn-success",
                    data: {confirm: "Estas seguro(a) de ser la imagen que quieres?"} %>
                <% end %>

            </div>
        </div>
        <div class="widget-text-box">
            <h3 class="media-heading"><i class="fa fa-map-marker"></i> Zonas que debo distribuir: <small>- Haz click sobre la etiqueta para ver la zona en google maps</small></h3>
            <div class="hr-line-dashed"></div>
            <div class="text-center">
              <% state_name = @regions[0].State.name if @regions.length > 0 %>
              <% @regions.each do |region| %>
                <% city_name = region.name %>
                <%= link_to "https://maps.google.com.mx/maps/search/#{city_name}+#{state_name}", { target: "_blank" } do %>
                  <span class="badge badge-primary f-size-16 m-sm" style="color: #FEFEFE;"> <%=city_name%> </span>
                <% end %>
              <% end %>
            </div>
            <div class="text-right">
              <label for="color-ui">Tema de interfaz</label>
              <select name="color-ui" id="color-ui" autocomplete="off" onchange="updateUI();">
                <option value="" disabled selected>Selecciona un tema</option>
                <option value="skin-4">Defecto</option>
                <option value="skin-cyan">Cyan</option>
                <option value="skin-greenland">Greenland Green</option>
                <option value="skin-red">Red</option>
                <option value="skin-quince">Quince Jelly</option>
                <option value="skin-pureapple">Pure Apple</option>
                <option value="skin-purple">Purple</option>
                <option value="skin-blurple">Blurple</option>
                <option value="skin-deepcove">Deep Cove</option>
              </select>

              <%= link_to "Cambiar contraseña", "#", 
                class: "btn btn-primary", onclick: "updatePassword()" %>

              <%= link_to(log_out_path, method: "delete", class: "btn btn-danger") do %>
                <i class="fa fa-sign-out"></i> Cerrar sesión
              <% end %>
            </div>
        </div>
    </div>

  </div>
</div>
<!--End content whit animation-->

<%= render "shared/modal" %>

<script type="text/javascript">
function updateUI() {
  body = document.querySelector("body");
  select = document.querySelector("#color-ui");
  
  newSkin = select.options[select.selectedIndex].value;

  body.className = "";
  body.classList.add("canvas-menu", "skin", newSkin, "mini-navbar");

  url = "<%= distributor_update_ui_theme_path('replace', format: :json) %>";
  url = url.replace("replace", newSkin);
  $.ajax({
    type: "POST",
    url: url,
    context: document.body
  }).done(function(body) {

  });
}

function updatePassword(){
  modal = $("#modal")
  modal.find(".modal-title").html("Actualizar contraseña");
  modal.find(".modal-body").html(`<%= j render "/shared/update_password" %>`);
  $("#update_password").parsley();
  modal.modal("show");
}
</script>

<%= javascript_include_tag "parsley-custom" %>
