<p><%= @answer %></p>

<br><hr>
<p><b>Datos del commentario</b></p>
<p><b>Nombre:</b> <%= @candidate.name %></p>
<p><b>Correo electrónico:</b> <%= @candidate.email %></p>
<p><b>Teléfono:</b> <%= @candidate.telephone %></p>
<p><b>Celular:</b> <%= @candidate.cellphone %></p>
<p><b>Ubicación:</b> <%= @candidate.getLocation %></p>
<p><b>Fecha de la solicitud:</b> <%= l(@candidate.created_at, format: :long) %></p>
