<% provide(:title, "Quiero ser distribuidor") %>
<div class="container" style="margin-top: 80px;">
  <div class="row">
     <div class="col-md-12 text-center">
        <h1 class="module-title long-up-2x">Quiero ser distribuidor</h1>
     </div>
   </div>

  <div class="show-tips-container">
    
    <%= form_tag "#" do %>
      <div class="col-md-6 pull-right bg-light">
        <p>Favor de llenar el siguiente formulario para que uno de nuestros asistentes se comunique con usted</p>

        <div class="col-sm-12 form-group">
          <%= label_tag "Nombre Completo" %>
          <%= text_field_tag :name, nil, maxlength: 100, required: true,
          class: "form-control form-control-black", placeholder: "Luz Yenny García Ríos" %>
        </div>

        <div class="col-sm-12 form-group">
          <%= label_tag "Correo electrónico" %>
          <%= email_field_tag :email, nil, maxlength: 50, required: true,
          class: "form-control form-control-black", placeholder: "john@example.com" %>
        </div>

        <div class="col-sm-12 form-group">
          <%= label_tag "Teléfono" %>
          <%= text_field_tag :telephone, nil, maxlength: 20, required: true, class: "form-control form-control-black",
            onchange: "$('#telephone').attr('required', true);$('#cellphone').attr('required', false);" %>
        </div>

        <div class="col-sm-12 form-group">
          <%= label_tag "Celular" %>
          <%= text_field_tag :cellphone, nil, maxlength: 20, required: true, class: "form-control form-control-black",
            onchange: "$('#telephone').attr('required', false);$('#cellphone').attr('required', true);" %>
        </div>

        <div class="row">
          <label>Me gustaría ser distribuidor en:</label>
          <div class="col-sm-12 form-group">
            <%= render :partial => "/shared/select_state", locals: { states: @states } %>
          </div>
        </div><!-- .row -->

        <div class="row">
          <div class="col-sm-12 form-group">
            <%= render :partial => "/shared/select_city", locals: { cities: @cities } %>
          </div>
        </div><!-- .row -->

        <%= submit_tag "Enviar", class: "btn btn-block btn-custom-1 m-b-sm" %>
      </div>
    <% end #form end# %>

  </div>
</div>

<style>
.bg-light{
  background-color: rgba(254, 254, 254, 0.8);
  border-radius: 5px;
  padding: 2em;
  margin-bottom: 2em;
}

.bg-light span, 
.bg-light label, 
.bg-light .form-control{ 
  color: #444; 
}

.form-group{ margin-bottom: 6px; }
.long-up-2x{ margin-top: 0.5em !important;}

<% image = WebPhoto.where(name: "DISTRIBUTOR_REQUEST").take %>
<% if image.blank? %>
  <% url = image_url "person-woman-coffee-cup-large.jpg" %>
<% else %>
  <% url = image.photo.url %>
<% end %>
body {
  background: url('<%= url %>') center center / cover no-repeat;
}
</style>

<script type="text/javascript">
function update_state_ref(state) {
  var _href = $('#get_cities_link').attr('href');
  $('#get_cities_link').attr('href', _href.replace(/state=[^&]+/, 'state=' + state));
}
</script>
