<div class="row">

  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Datos del trabajador</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
            <%= form_for @worker, url: @url, :html => {:id => "worker_form", :class => 'form-horizontal'} do |f| %>
              <%= render :partial=>'/shared/error_messages', locals:{entity: @worker} %>

              <% if @actions["UPDATE_PERSONAL_INFORMATION"] %>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :name, "Código" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :alph_key, :class => 'form-control', :disabled => true %>
                  </div>
                </div>
              <% end # if @actions["UPDATE_NAME"] # %>

              <% if @actions["UPDATE_PERSONAL_INFORMATION"] or @actions["CREATE"] %>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :name, "Nombre" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :name, :class => 'form-control', :placeholder => "John",
                          :required => true, :minlength => 2, :maxlength => 25, "data-parsley-pattern" => "/^[a-zA-ZÑñáéíóúü\\s\\.']+$/" %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :lastname, "Apellido paterno" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :lastname, :class => 'form-control', :placeholder => "Black",
                          :required => true, :minlength => 2, :maxlength => 25, "data-parsley-pattern" => "/^[a-zA-ZÑñáéíóúü\\s\\.']+$/" %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :mother_lastname, "Apellido materno" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :mother_lastname, :class => 'form-control', :placeholder => "Smith",
                          :required => true, :minlength => 2, :maxlength => 20, "data-parsley-pattern" => "/^[a-zA-ZÑñáéíóúü\\s\\.']+$/"%>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :birthday, "Fecha de nacimiento (yyyy-mm-dd)", :class => "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                  	<div class='input-group date' id="datetimepicker">
                  		<%= f.text_field :birthday, { :class => 'form-control form-control-black',
                  			:required => true, :maxlength => 10 } %>
                  		<span class="input-group-addon">
                  			<span class="fa fa-calendar"></span>
                  		</span>
                  	</div>
                    <span class="help-text">Debes ser mayor de 18 años.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :username, "Nombre comercial o de usuario" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :username, :class => 'form-control', :placeholder => "John01",
                          :required => true, :minlength => 5, :maxlength => 15 %>
                    <span class="help-block m-b-none">Mínimo 5 caracteres y máximo 15.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :email, "Correo electrónico" %></label>
                  <div class="col-sm-10">
                    <%= f.email_field :email, :class => 'form-control', :placeholder => "john@example.com",
                          :required => true, :maxlength => 50 %>
                  </div>
                </div>

                <% if @worker.id %>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :email_confirmation, "Confirma tu correo electrónico" %></label>
                    <div class="col-sm-10">
                      <%= f.email_field :email_confirmation, :value => @worker.email,
                          :class => 'form-control form-control-black', :placeholder => "john@example.com",
                          :required => true, :maxlength => 50, "data-parsley-equalto"=>"#site_worker_email" %>
                    </div>
                  </div>

                  <div class="form-group <%if @worker.errors.any?%>has-error<%end%>">
                    <label class="col-sm-2 control-label"><%= f.label :password, "Contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password, :placeholder => '********', :class => 'form-control',
                            :minlength => 6, :maxlength => 20 %>
                      <span class="help-block m-b-none">Mínimo 6 caracteres.</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :password_confirmation, "Confirma contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password_confirmation, :placeholder => '********', :class => 'form-control',
                          "data-parsley-equalto" => "#site_worker_password" %>
                    </div>
                  </div>

            		<% else %>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :email_confirmation, "Confirma tu correo electrónico" %></label>
                    <div class="col-sm-10">
                      <%= f.email_field :email_confirmation, :class => 'form-control form-control-black', :placeholder => "john@example.com",
            							:required => true, :maxlength => 50, "data-parsley-equalto"=>"#site_worker_email" %>
                    </div>
                  </div>

                  <div class="form-group <%if @worker.errors.any?%>has-error<%end%>">
                    <label class="col-sm-2 control-label"><%= f.label :password, "Contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password, :placeholder => '********', :class => 'form-control',
                            :required => true, :minlength => 6, :maxlength => 20 %>
                      <span class="help-block m-b-none">Mínimo 6 caracteres.</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :password_confirmation, "Confirma contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password_confirmation, :placeholder => '********', :class => 'form-control',
                          :required => true, "data-parsley-equalto" => "#site_worker_password" %>
                    </div>
                  </div>

            		<% end # if @worker.id # %>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :telephone, "Teléfono" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :telephone, :class => 'form-control',
                          :required => true, :minlength => 8, :maxlength => 20 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :cellphone, "Celular" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :cellphone, :class => 'form-control',
                          :required => true, :minlength => 10, :maxlength => 25 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :address, "Dirección" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :address, :class => 'form-control', :placeholder => "calle #0000, col. ejemplo",
                          :required => true, :maxlength => 150 %>
                  </div>
                </div>

                <%= render :partial => "/shared/select_state", locals: { states: @states } %>
                <%= render :partial => "/shared/select_city", locals: { cities: @cities } %>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :rfc, "RFC" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :rfc, :class => 'form-control', :placeholder => "RFC", onkeyup:"this.value = this.value.toUpperCase();",
                          :required => true, :maxlength => 20 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :nss, "NSS" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :nss, :class => 'form-control', :placeholder => "Número de Seguro Social",
                          :required => true, :maxlength => 20 %>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :photo, "Subir foto" %></label>
                  <div class="col-sm-7">
                    <%= f.file_field :photo, :multiple => false %><br>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>
              <% end # if @actions["UPDATE_PERSONAL_INFORMATION"] or @actions["CREATE"] end # %>

              <% if @actions["UPDATE_WAREHOUSE"] or @actions["CREATE"] %>
                <div id="select_state">
                  <div class="form-group"><label class="col-sm-2 control-label">Almacén</label>
                      <div class="col-sm-10">
                      <%= select_tag "site_worker[warehouse_id]", options_from_collection_for_select(
                      @warehouses, "id", "name", :selected => @warehouse_id), prompt: "Selecciona...",
                        :class => "form-control m-b", required: true %>
                      </div>
                  </div>
                </div>
              <% end %>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                      <a class="btn btn-white" href="javascript:history.back();">Cancelar</a>
                      <%= f.submit "Guardar cambios", :class => "btn btn-primary" %>
                  </div>
              </div>
            <% end %>
          </div>
      </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#worker_form').parsley();

    telephone = $("#site_worker_telephone");
    cellphone = $("#site_worker_cellphone");

    if(telephone.val() != ""){
			cellphone.removeAttr('required');
		}else if (cellphone.val() != "") {
			telephone.removeAttr('required');
		}

    telephone.on('change', function(){
      console.log("telephone");
      telephone.attr('required', true);
      cellphone.removeAttr('required')
      if (telephone.val() == ""){
        cellphone.attr('required', true)
      }
    });

    cellphone.on('change', function(){
      console.log("cellphone");
      cellphone.attr('required', true);
      telephone.removeAttr('required')
      if (cellphone.val() == ""){
        telephone.attr('required', true)
      }
    });

    <% max_date = l(18.years.ago, :format => :form_date) %>
    $('#datetimepicker').datetimepicker({
        locale: 'es',
        format: 'YYYY-MM-DD',
        defaultDate: "<%= max_date %>",
        viewMode: 'years',
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-arrows',
            clear: 'fa fa-times'
        }
    });

    $('#datetimepicker').data("DateTimePicker").maxDate("<%= max_date %>");
  });
</script>

<%= stylesheet_link_tag 'bootstrap-datetimepicker.min', media: 'all' %>
<%= javascript_include_tag 'bootstrap-datetimepicker-custom' %>
<%= javascript_include_tag 'parsley-custom' %>
