<% if @fiscal_data.nil? %>
  <div class="pull-left fiscal-data">
    <table class="table">
      <tbody>
        <tr>
          <td colspan="2" class="text-center"><b>
            Datos fiscales sin completar
          </b></td>
        </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="pull-left fiscal-data">
    <table class="table">
      <tbody>

        <tr>
          <td colspan="2" class="text-center"><b>
            Datos fiscales:
          </b></td>
        </tr>

        <tr>
          <td class="table-padd">Nombre(s) / Razón Social:</td>
          <td><%= @fiscal_data.name %></td>
        </tr>

        <tr>
          <td>RFC:</td>
          <td><%= @fiscal_data.rfc %></td>
        </tr>

        <tr>
          <td>Calle:</td>
          <td><%= @fiscal_data.street %></td>
        </tr>
        <tr>
          <td class="table-padd">Número exterior:</td>
          <td><%= @fiscal_data.extnumber %></td>
        </tr>
        <% if !@fiscal_data.intnumber.blank? %>
          <tr>
            <td>Número interior:</td>
            <td><%= @fiscal_data.intnumber %></td>
          </tr>
        <% end %>
        <tr>
          <td>Colonia:</td>
          <td><%= @fiscal_data.col %></td>
        </tr>
        <tr>
          <td>Código postal:</td>
          <td><%= @fiscal_data.cp %></td>
        </tr>
        <tr>
          <% fiscal_city = @fiscal_data.City %>
          <td>Población:</td>
          <td><%= fiscal_city.name %></td>
        </tr>
        <tr>
          <td>Estado:</td>
          <td><%= fiscal_city.State.name %></td>
        </tr>

      </tbody>
    </table>
  </div>
<% end # if !@fiscal_data.blank? # %>

<% if @order.cfdi.present? %>
  <div class="pull-left">
    <table class="table cfdi">
      <tbody>
        <tr>
          <td><b>CFDI:</b></td>
          <td><%= @order.cfdi %></td>
        </tr>
        <tr>
          <td><b>Medio de pago:</b></td>
          <td><%= @order.invoice_payment %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end #if @order.cfdi.present? %>
