<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <title>Order Details</title>
</head>
<body>
  <div class="container">
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
      <div style="border-bottom: dashed 1px #ccc;padding-top:10px;">
        <% if !@order.cancel_description.nil? %>
          <div class="alert alert-danger" role="alert">
            <h4>Se ha cancelado el pedido debido a:</h4>
            <%= content_tag :p, @order.cancel_description %>
          </div>
        <% elsif !@order.reject_description.nil? %>
          <div class="alert alert-danger" role="alert">
          <h4>Se ha rechazado el pago del pedido debido a:</h4>
          <p>
            <%= @order.reject_description %>
          </p></div>
        <% end %>

        <h3>Pedido</h3>
        <%= image_tag @barcode, style: "float: right !important;" %>
        <p><b>Referencia:</b> <span class="text-navy">
          <%= @order.hash_id %> 
          <% if !@order.tracking_code.blank? %>
            - <b>Código de rastreo:</b> 
            <%= @order.tracking_code %>
          <% end %>
        </span></p>
        
        <p style="font-size:12px;">
          <span><b>Fecha de creación:</b> <%= l(@order.created_at, format: :long) %></span><br>
          <span><b>Última modificación:</b> <%= l(@order.updated_at, format: :long) %></span><br>
        </p>
        <p style="font-size:12px;">
            <b>Remitente:</b>
            Black Brocket de México S. De R.L de C.V.<br>
            <% warehouse=@order.Warehouse %>
            <%= warehouse.address %>
            <% city = warehouse.City %>
            <%= city.name %>,
            <%= city.State.name %>, México<br>
            Teléfono: (<%= city.lada %>) <%= warehouse.telephone %>
        </p>

        <%= render '/shared/orders/product_details' %>
      </div>

      <%= render '/shared/orders/shipment_details' %>
      <%= render '/shared/orders/fiscal_data' %>

      <div class="text-center">
        <a onclick="window.print();" href="#" class="btn btn-default print-link">Imprimir</a>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function money_format(number){
      return parseFloat(number).toFixed(2).replace(/./g, function(c, i, a) {
        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
      });
    }

    $(document).ready(function(){
      numbers_to_format = $(".number_format");
      numbers_to_format.each(function(){
        $(this).html(money_format($(this).text()));
      });
    });
  </script>

  <style>
    .print-link
    {
      font-size: 1.3em;
      margin-top: 1em;
      padding: .5em;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
      border-top: 1px solid #e7eaec;
      font-size: 12px;
      line-height: 1.42857;
      padding: 4px;
      vertical-align: top;
    }
    @media print{ .print-link{ display: none !important; } }
  </style>
</body>
</html>
