<% provide(:title, "Recuperar contraseña") %>

<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %> | BlackBrocket</title>
  <!--stylesheets-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--javascript-->
  <%= javascript_include_tag 'application' %>
</head>
<body class="login-content" style="background: #E5E5E5;">

  <!-- Login -->
  <div class="lc-block toggled">
    <!--Alerts-->
    <div id="flashes">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%=message_type%> alert-dismissible alert-alignment" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message.html_safe %>
        </div>
      <% end %>
    </div>
    <!--End Alerts-->

    <%= form_for(:session, url: forgot_password_path) do |f| %>
      <label for="session['email']">Ingresa tu correo electrónico por favor.</label><br>
      <div class="input-group m-b-20">
        <span class="input-group-addon addon-login"><i class="fa fa-user"></i></span>
        <%= f.email_field :email, class: 'form-control form-clean',
          style: 'padding-left: 10px;', placeholder: "email@example.com", value: @email, maxlength: 50 %>
      </div>
      
      <p>Si eres un empleado o un distribuidor, favor de solicitar el restablecimiento de contraseña a</p>
      <p><b>contacto@blackbrocket.com</b></p>
      <p>o llame a los números en pantalla</p>
      <p><b>(33) 3613 4458</b></p>
      <p><b>(33) 3613 7015</b></p>
      <p><b>
        <i class="fa fa-whatsapp fa-lg"></i> +52 332 310 0024 
      </b></p>

      <%= button_tag(type: 'submit', class: "btn btn-login btn-danger btn-float") do %>
        <i class="fa fa-arrow-right" style="margin-left: -8px;"></i>
      <% end %>
    <% end %>
  </div>
</body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    <% image = WebPhoto.where(name: "LOGIN").take %>
    <% if image.blank? %>
      <% url = image_url "person-woman-coffee-cup-large.jpg" %>
    <% else %>
      <% url = image.photo.url %>
    <% end %>

    $("body").css({"background-image": "url('<%= url %>')",
                    "background-position": "center",
                    "background-repeat": "no-repeat",
                    "-webkit-background-size": "cover",
                    "-moz-background-size": "cover",
                    "-o-background-size": "cover",
                    "background-size": "cover"});
  });
</script>
