<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="iniciar sesión, black brocket, blackbrocket">
  <meta name="description" content="Inicia sesión con tu cuenta Black Brocket">
  <title>Iniciar sesión | Black Brocket</title>
  
  <!--stylesheets-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--javascript-->
  <%= javascript_include_tag 'application' %>
</head>
<body class="login-content" style="background: #E5E5E5;">

  <!-- Login -->
  <div class="lc-block toggled">
    <!--Alerts-->
    <div id="flashes">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%=message_type%> alert-dismissible alert-alignment" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message.html_safe %>
        </div>
      <% end %>
    </div>
    <!--End Alerts-->

    <%= form_for(:session, url: log_in_path) do |f| %>
      <div class="input-group m-b-20">
          <span class="input-group-addon addon-login"><i class="fa fa-user"></i></span>
          <%= f.email_field :email, class: 'form-control form-clean',
            required: true, placeholder: "email@example.com", value: @email, maxlength: 50 %>
      </div>

      <div class="input-group m-b-20">
          <span class="input-group-addon addon-login"><i class="fa fa-unlock-alt"></i></span>
          <%= f.password_field :password, class: 'form-control form-clean',
            required: true, placeholder: "**********", maxlength: 20 %>
      </div>

      <div class="clearfix"></div>

      <div class="checkbox">
        <label>
          <%= f.check_box 'remember_me', checked: false %>
          Recordar mis datos
        </label>
      </div>
      <p class="text-center" style="margin-top: 1em;">
        <%= link_to "Regístrate", client_sign_up_path %> |
        <%= link_to "Recuperar Contraseña", forgot_password_path %>
      </p>
      <%= button_tag(type: 'submit', class: "btn btn-login btn-danger btn-float") do %>
        <i class="fa fa-arrow-right" style="margin-left: -8px;"></i>
      <% end %>
    <% end %>
  </div>
</body>
</html>

<style>
  form a{color: #B39767;}
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $("body").css({"background-image": "url('<%= @bg_img %>')",
      "background-position": "center", "background-repeat": "no-repeat",
      "-webkit-background-size": "cover", "-moz-background-size": "cover",
      "-o-background-size": "cover", "background-size": "cover"});

    document.getElementById("session_email").focus();
  });
</script>
