<% provide(:title, "Ingresar") %>

<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %> | BlackBrocket</title>
  <!--stylesheets-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--javascript-->
  <%= javascript_include_tag 'application' %>
</head>
<body class="login-content" style="background: #E5E5E5;">

  <!-- Login -->
  <div class="lc-block toggled">
    <!--Alerts-->
    <div id="flashes">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%=message_type%> alert-dismissible alert-alignment" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message.html_safe %>
        </div>
      <% end %>
    </div>
    <!--End Alerts-->

    <%= form_for(:session, url: update_password_path(params[:token])) do |f| %>
      <label for="session['email']">Ingresa la nueva contrase単a.</label><br>
      <div class="input-group m-b-20">
          <span class="input-group-addon addon-login"><i class="fa fa-unlock-alt"></i></span>
          <%= f.password_field :password, class: 'form-control form-clean',
              style: 'padding-left: 10px;', placeholder: "**********", minlength: 6, maxlength: 20 %>
      </div>

      <div class="input-group m-b-20">
          <span class="input-group-addon addon-login"><i class="fa fa-unlock-alt"></i></span>
          <%= f.password_field :password_confirmation, class: 'form-control form-clean',
              style: 'padding-left: 10px;', placeholder: "confirma contrase単a", minlength: 6, maxlength: 20 %>
      </div>

      <div class="input-group m-b-20">
        <span id="message">  </span>
      </div>

      <%= button_tag(type: 'submit', class: "btn btn-login btn-danger btn-float") do %>
          <i class="fa fa-arrow-right" style="margin-left: -8px;"></i>
      <% end %>
    <% end %>
  </div>
</body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    $('#session_password, #session_password_confirmation').on('keyup', function () {
      if ($('#session_password').val() == $('#session_password_confirmation').val()) {
        $('#message').html('La contrase単a concuerda').css('color', 'green');
      } else
        $('#message').html('Las contrase単as no son iguales').css('color', 'red');
    });

    <% image = WebPhoto.where(name: "LOGIN").take %>
    <% if image.blank? %>
      <% url = image_url "person-woman-coffee-cup-large.jpg" %>
    <% else %>
      <% url = image.photo.url %>
    <% end %>

    $("body").css({"background-image": "url('<%= url %>')",
                    "background-position": "center",
                    "background-repeat": "no-repeat",
                    "-webkit-background-size": "cover",
                    "-moz-background-size": "cover",
                    "-o-background-size": "cover",
                    "background-size": "cover"});
  });
</script>
