<section class="row step step-1">
  <% @products.each do |wp| %>
    <div id="<%=wp.hash_id%>" class="col-sm-12 product dotted">
      <% p = wp.Product %>

      <div class="col-sm-1 text-center">
        <% @photos.each do |photo| %>
          <% if photo.product_id == p.id %>
            <%= link_to image_tag(photo.photo.url(:mini), class: "img-circle"), product_path(wp.hash_id) %>
            <% break %>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-4 text-center">
        <label class="product-descriptor">Nombre:</label>
        <span><%= p.name %></span>
      </div>
      <div class="col-sm-1 text-center no-mobile">
        <label class="product-descriptor">Clave:</label> 
        <span><%= p.hash_id %></span>
      </div>
      <div class="col-sm-2 text-center">
        <label>Cantidad:</label>
        <input type="number" min="1" value="<%= session[:e_cart][wp.hash_id] %>"
        onchange="update_quantity('<%=wp.hash_id%>', this.value, <%=wp.existence%>)"
        id="<%=wp.hash_id%>-quantity-input" class="form-control form-control-black text-center"/>
      </div>
      <div class="col-sm-2 text-center">
        <label class="product-descriptor">Precio Unitario:</label>
          $<span>
            <% monto = 0 %>
            <% if @product_prices.any? %>
              <% @product_prices.each do |pp| %>
                <% if p.id == pp.product_id %>
                  <% monto = pp.client_price * session[:e_cart][wp.hash_id].to_i %>
                  <%= pp.client_price %>
                <% end # if p.id == pp.product_id # %>
              <% end # @product_prices.each # %>
            <% else %>
              <% monto = p.price * session[:e_cart][wp.hash_id].to_i %>
              <%= p.price %>
            <% end # if @product_prices.any? # %>
          </span>
      </div>
      <div class="col-sm-1 text-center">
        <% @total += monto %>
        <label class="product-descriptor">Importe: </label>
          $<span id="<%=wp.hash_id%>-cost" class="individual-cost">
            <%= monto %>
          </span>
      </div>
      <div class="col-sm-1 text-center">
        <%= link_to client_remove_from_cart_path(@current_user.hash_id, wp.hash_id),
          method: :put, data:{confirm: "Estas seguro(a) de quitarlo del carrito?"} do %>
          <span class="icon-close" style="font-size: 34px;"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
