<div id="ecart_content">
  <% @products.each do |wp| %>
  <div id="<%=wp.hash_id%>" class="col-sm-12" style="border-bottom: 1px dotted #DDD;padding-top: 10px;padding-bottom: 10px;">
    <% p = wp.Product %>

        <div class="col-sm-1">
          <center>
            <% @photos.each do |photo| %>
              <% if photo.product_id == p.id %>
                <%= link_to image_tag(photo.photo.url(:mini),class: "img-circle"), product_path(wp.hash_id) %>
                <% break %>
              <% end %>
            <% end %>
          </center>
        </div>
        <div class="col-sm-4">
          <label>Nombre:</label><br>
          <%=p.name%>
        </div>
        <div class="col-sm-1">
          <label>Clave:</label><br>
          <%=p.hash_id%>
        </div>
        <div class="col-sm-2">
          <label>Cantidad:</label>
         <input type="number" min="1" value="<%= session[:e_cart][wp.hash_id] %>"
         onchange="update_quantity('<%=wp.hash_id%>', this.value, <%=wp.existence%>)"
         id="<%=wp.hash_id%>-quantity-input" class="form-control form-control-black text-center"/>
        </div>
        <div class="col-sm-2">
          <label>Precio Unitario:</label><br>
            $<span>
              <% monto = 0 %>
              <% if @product_prices.any? %>
                <% @product_prices.each do |pp| %>
                  <% if p.id == pp.product_id %>
                    <% monto = pp.client_price * session[:e_cart][wp.hash_id].to_i %>
                    <%= pp.client_price %>
                  <% end # if p.id == pp.product_id # %>
                <% end # @product_prices.each # %>
              <% else %>
                <% monto = p.price * session[:e_cart][wp.hash_id].to_i %>
                <%= p.price %>
              <% end # if @product_prices.any? # %>
            </span>
        </div>
        <div class="col-sm-1">
          <% @total += monto %>
          <label>Importe: </label><br>
            $<span id="<%=wp.hash_id%>-cost" class="individual-cost">
               <%= monto %>
            </span>
        </div>
        <div class="col-sm-1 text-center">
          <br>
          <%= link_to "<span class='icon-close' style='font-size: 34px;'></span>".html_safe,
             client_remove_from_cart_path(@current_user.hash_id, wp.hash_id),
             method: :put, data:{confirm: "Estas seguro(a) de quitarlo del carrito?"} %>
        </div>
  </div>

  <% end %>

  <div class="col-md-12" style="border-bottom: 1px dotted #DDD;padding-top: 10px;padding-bottom: 10px;">
        <div class="col-md-10 text-right">
          <strong>Sub total:</strong>
        </div>
        <div class="col-md-2" >
          $ <label id="order-sub-total" style="font-size:20px;"><%= @total %></label> MXN
        </div>

        <div class="col-md-10 text-right">
          <strong>Coste de envío:</strong>
        </div>
        <div class="col-md-2" >
          $ <label id="order-shipping-cost" style="font-size:20px;">
            0.00
          </label> MXN
        </div>

        <div class="col-md-10 text-right">
          <label id="delivery-time"></label>
        </div>

        <div class="col-md-10 text-right">
          <strong>Total:</strong>
        </div>
        <div class="col-md-2" >
          <% @total %>
          $ <label id="order-grand-total" style="font-size:20px;"><%= @total %></label> MXN
        </div>
  </div>

  <div class="col-sm-12" style="border-bottom: 1px dotted #DDD;padding-top: 10px;padding-bottom: 10px;margin-bottom: 40px;">
    <%= form_tag client_create_order_path(@current_user.hash_id), method: :post do %>
      <div class="row col-sm-12 text-right">
        <h3 class="iconbox-title">Método de envío</h3>
        <% @parcels.each do |parcel| %>
          <div style="display: inline-block">
            <%= radio_button_tag 'parcel_id', parcel.id, false,
              onchange: "fetchParcelPrices(this)", required: true %>
            <%= image_tag parcel.image.url(:mini) %><br>
          </div>
        <% end %>
      </div>

      <div class="row col-sm-12 text-right">
        <h3 class="iconbox-title">Método de pago</h3>
        <% @banks.each do |bank| %>
          <div style="display: inline-block">
            <%= radio_button_tag 'payment_method', bank.id, false, required: true %>
            <%= image_tag bank.image.url(:mini) %><br>
          </div>
        <% end %>
      </div>

      <div class="row col-sm-12" style="padding-top: 2em;">
        <div class="col-sm-10 text-right">
          <%= label_tag "invoice", "Requiero factura" %>&nbsp;&nbsp;
          <%= check_box_tag "invoice" %>
        </div>
        <div class="col-sm-2" >
          <%= submit_tag "Comprar", class: "btn btn-block btn-custom-1",
              data: {confirm: "Seguro(a) de realizar la compra?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row" style="border-top: 1px dotted #DDD;">
  <div class="col-md-12">
    <p>
      <b>NOTA:</b> Para que el envío sea totalmente gratis y con el beneficio de un precio de mayoreo,
      es necesario la compra mínima de <b>$<span class="individual-cost"><%= @warehouse.wholesale %></b></span>
      de cualquiera de nuestros productos.
    </p>
  </div>
  <% if !@product_prices.any? %>
    <div class="col-md-12">
      <br>
      <center>
      <h3 class="iconbox-title">¿Es usted mayorista?</h3>
      </center>
      <br>
    </div>
  <% end %>
  <div class="col-sm-12">
    <% notice = WebInfo.where(name: "ECART_NOTICE").take %>
    <%= render notice.description_render_path %>
  </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="devider m-b-xxl">
        <%= image_tag("divider-down.svg") %>
      </div>
    </div>
</div>

<%= form_tag client_ecart_update_quantity_path(@current_user), method: :put,
  remote: true, id: 'update_price_form', style: 'visibility: hidden;' do %>
  <%= text_field_tag :product, nil %>
  <%= number_field_tag :new_quantity, nil, min: 1, step: 1 %>
  <%= number_field_tag :current_existence, nil, step: 1 %>
<% end %>

<label id="wholesale" style="display: none;">
  <%= @warehouse.wholesale %>
</label>
<label id="shipping_cost_is_present" style="display: none;">
  NO
</label>

<script type="text/javascript">
  function update_quantity(product, new_quantity, current_existence) {
    $("#product").val(product);
    $("#new_quantity").val(new_quantity);
    $("#current_existence").val(current_existence);
    $("#update_price_form").submit();
  }

  function money_format(number){
    return parseFloat(number).toFixed(2).replace(/./g, function(c, i, a) {
      return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
    });
  }

  function fetchParcelPrices(trigger){
    original_target = "<%= Rails.application.routes.url_helpers.client_ecart_parcel_prices_path(@current_user, 'replace_with_id', format: :js) %>";
    new_target = original_target.replace("replace_with_id", trigger.value);
    $.ajax({
      url: new_target,
      context: document.body
    }).done(function(body) {
      console.log("Parcel Prices Fetched");
    });
  }

  $(document).ready(function(){
    costs = $(".individual-cost");
    costs.each(function(){
      $(this).html(money_format($(this).text()));
    });

    total = $("#grand-total");
    total.html(money_format(total.text()));
  });
</script>
