<section class="row inline-block step step-2 hidden text-center">
  <h4>Seleccione el método de envío</h4>

  <% if @local %>
    <div>
      <%= radio_button_tag "parcel_id", 0, false, autocomplete: :off, style: "display: none;",
        onchange: "noShipping(); removeFilter('.parcel_img_local', 'parcel');", required: true,
        info: @local["location"] %>
      <label for="parcel_id_0">
        <%= image_tag "recoger-en-almacen.svg", class: "parcel_img_local parcel" %>
      </label>
    </div>

    <div>
      <%= radio_button_tag "parcel_id", 1, false, autocomplete: :off, required: true,
        onchange: "blackBrocketParcel(); removeFilter('.parcel_img_bb', 'parcel')",
        info: "Paquetería Black Brocket", shipping_cost: @local["shipping_cost"], style: "display: none;" %>
      <label for="parcel_id_1">
        <%= image_tag "black-brocket-parcel.png", class: "parcel_img_bb parcel" %>
      </label>
    </div>
  <% end %>

  <%= radio_button_tag "parcel_id", 2, false, autocomplete: :off, required: true,
    info: "Sr Envío", style: "display: none;" %>
</section>

<script type="text/javascript">
  function fetchSrParcelPrices(){
    initLoader();

    $.ajax({
      url: "<%= client_ecart_sr_parcel_prices_path(@current_user, format: :js) %>",
      context: document.body
    }).done(function(body) {});
    $(".banks input").attr("required", true);
  }

  function noShipping() {
    $("#sr-parcel").val("");
    setShippingCost(0, "Recojo en almacén");

    boxes = $("#sr-parcel").attr("boxes");
    boxes = boxes.replace(/(=>)/g,":");

    json = new Object(); // guides for personal recovery
    json["shipping_cost"] = 0.0;
    json["days"] = "none";
    json["provider"] = "none";
    json["service_level_name"] = "none";
    json["boxes"] = JSON.parse(boxes); // selected boxes

    let new_value = JSON.stringify(json);
    $("#guides").val(new_value);

    $(".banks input").removeAttr("required");
  }

  function blackBrocketParcel() {
    $("#sr-parcel").val("");
    let shipping_cost = parseFloat($("#parcel_id_1").attr("shipping_cost"));
    setShippingCost(shipping_cost, "Día siguiente");

    boxes = $("#sr-parcel").attr("boxes");
    boxes = boxes.replace(/(=>)/g,":");

    json = new Object(); // guides for black brocket parcel
    json["shipping_cost"] = shipping_cost;
    json["days"] = "2 días";
    json["provider"] = "Black Brocket";
    json["service_level_name"] = "Basic Delivery";
    json["boxes"] = JSON.parse(boxes); // selected boxes

    let new_value = JSON.stringify(json);
    $("#guides").val(new_value);
  }

  function setSrEnvioShippingCost() {
    $("#parcel_id_2").attr("checked", true);
    removeFilter('.parcel_img_sr', 'parcel');

    opt = $("#sr-parcel").children("option:selected");
    $("#parcel_id_2").attr("info", opt.text());

    boxes = $("#sr-parcel").attr("boxes");
    boxes = boxes.replace(/(=>)/g,":");

    json = new Object(); // guides for sr envio
    json["shipping_cost"] = parseFloat(opt.attr("shipping_cost"));
    json["days"] = opt.attr("days");
    json["provider"] = opt.attr("provider");
    json["service_level_name"] = opt.attr("service_level_name");
    json["boxes"] = JSON.parse(boxes); // selected boxes

    let new_value = JSON.stringify(json);
    $("#guides").val(new_value);

    setShippingCost(json["shipping_cost"], json["days"]);
  }

  function setShippingCost(shipping_cost, delivery_time) {
    // obtain the current_sub_total
    var last_shipping_cost = parseFloat($("#order-shipping-cost").text().replace(",",""));
    var current_grand_total = parseFloat($("#order-grand-total").text().replace(",",""));
    var wholesale = parseFloat($("#wholesale").text());

    var current_sub_total = current_grand_total;
    if($("#shipping_cost_is_present").text().trim() == "YES")
      current_sub_total = current_grand_total - last_shipping_cost;

    if(current_grand_total >= wholesale)
      shipping_cost = 0;

    $("#order-shipping-cost").text(money_format(shipping_cost));

    $("#shipping_cost_is_present").text("YES");
    $("#delivery_cost").val(shipping_cost);

    $("#delivery-time").text(delivery_time);

    $("#order-grand-total").text(money_format(current_sub_total + shipping_cost));

    $(".banks input").attr("required", true);
  }
</script>
