<p><b>Banco:</b> <%= @bank.name %></p>
<p><b>Beneficiario:</b> <%= @bank.owner %></p>
<p><b>Referencia:</b> <%= @order.hash_id %></p>

<p><b>Número de cuenta:</b> <%= @bank_accounts[0].account_number %></p>
<p><b>Clabe Interbancaria:</b> <%= @bank_accounts[0].interbank_clabe %></p>

<p><b>Total a pagar:</b> $<%= @order.total %> MXN</p>

<p><b>Contacto:</b> <%= @bank.email %></p>
