<% @bank_accounts.each do |account| %>
  <tr>
    <td><%= @bank.name %></td>
    <td><%= account.account_number %></td>
    <td><%= account.interbank_clabe %></td>
    <td><%= @order.hash_id %></td>
    <td><%= @bank.owner %></td>
  </tr>
<% end %>
<tr>
  <td>Contacto:</td>
  <td><%= @bank.email %></td>
</tr>
