<%
  begin
    guides = JSON.parse o.guides
  rescue 
    guides = Hash.new
  end
%>

<div id="<%=o.hash_id%>" class="order-box">
  <div class="row order-box-title">
    <b>Referencia: </b>
    <%= content_tag :span, o.hash_id %> | 
    <%= content_tag :span, l(o.created_at, format: :long)%>
    <%# render partial: "dropdown_options", locals: {o: o} %>

    <!-- Link to cancel the order -->
    <% if o.state == "WAITING_FOR_PAYMENT" or o.state == "LOCAL" %>
      <%= link_to "", client_order_path(@current_user.hash_id, o.hash_id), 
        class: "pull-right icon-close text-danger", remote: true, method: :delete,
        data:{confirm: "Seguro(a) de cancelar el pedido?"}, onclick: "$(this).remove();",
        style: "font-size:24px; padding-right: 1em;" %>
    <% end %>
  </div>

  <div class="row order-box-info">
    <div class="col-sm-2 order-info text-center">
      <b>Stado:</b>
      <% case o.state %>
      <%when "ORDER_CANCELED"%>
        <label class="label label-danger"><%=t(o.state)%></label>
      <%when "PAYMENT_REJECTED"%>
        <label class="label label-warning"><%=t(o.state)%></label>
      <%when "PAYMENT_DEPOSITED"%>
        <label class="label label-custom-2"><%=t(o.state)%></label>
      <%else%>
        <label class="label label-success"><%=t(o.state)%></label>
      <%end%>
    </div>

    <div class="col-sm-3 order-info text-center">
      <b>Código de rastreo:</b>
      <span>
        <%= content_tag :p, guides["provider"] if o.tracking_code %>
        <%= content_tag :p, o.tracking_code %>
        <% if ["LOCAL","PICKED_UP","PAYMENT_ACCEPTED_LOCAL"].include? o.state %>
          <label class="label label-default">Recojer en local</label>
        <% end %>
      </span>
    </div>

    <div class="col-sm-3 order-info text-center">
      <b>Total:</b>
      <span style="margin-top: 5px;">
        $<i class="individual-cost"><%= o.total %></i> MXN
      </span>
    </div>
    
    <div class="col-sm-2 order-info text-center">
      <b>Comprobante:</b>
      <span class="text-center">
        <% if o.payment.present? %>
          <%= link_to client_get_order_payment_path(@current_user.hash_id, o.download_payment_key), target: "_blank" do %>
            <i class="fa fa-file-o fa-2x"></i>
          <% end %>
        <% else %>
          <label class="label label-default">Sin comprobante</label>
        <% end %>
      </span>
    </div>

    <div class="col-sm-2 order-info text-center">
      <b>Ver detalles:</b>
      <%= link_to client_order_path(@current_user.hash_id, o.hash_id),
        class: "darklink", target: "_blank", style: "font-size: 24px;" do %>
        <i class="icon-eye"></i>
      <% end %>
    </div>
  </div>

  <% if ["WAITING_FOR_PAYMENT","PAYMENT_DEPOSITED","PAYMENT_REJECTED","LOCAL"].include? o.state %>
    <div class="row order-box-foot">
      <%= form_for(o, url: client_upload_pay_order_path(@current_user.hash_id, o.hash_id),
        method: :put, html:{ id:"form_photo_#{o.hash_id}"}) do |f| %>

        <%= f.file_field :payment, id: "field_#{o.hash_id}",
          style: "display: none;", multiple: false,
          onchange: "$('#form_photo_#{o.hash_id}').submit();" %>

        <span onclick="$('#field_<%=o.hash_id%>').click();"
          class="btn btn-gold pull-right">Enviar comprobante de pago</span>
      <% end %>

      <%= link_to client_get_bank_payment_info_path(@current_user.hash_id, o.hash_id),
        class: "darklink label-custom-2", style: "cursor:pointer; color: #FEFEFE;", 
        remote: true, id: "payment-info-link-#{o.hash_id}" do %>
        <span class="btn btn-white pull-right">Información para pagar</span>
      <% end %>
    </div>
  <% end %>


  <% if o.state == "LOCAL" %>
    <div class="row order-box-foot" style="padding-left: 1em;">
      <% local = Local.forLocation(o.city_id) %>
      <p><%= local["location"] if local %></p>
      <p>El pago puede ser realizado al momento de recojer la mercancía en las instalaciones, 
        o se puede realizar un depósito como el resto de las órdenes.</p>
    </div>
  <% end %>
  
</div>
