<% @banks = Bank.all %>

<section class="text-center">
  <%= form_for order, remote: true, url: client_update_payment_method_path(@current_user.hash_id, order.hash_id) do |f| %>
    <!--div style="display: inline-block; margin: 1em;">
      <%#= f.radio_button "payment_method", -1, style: "display: none;",
        onchange: "removeFilter('#payment_img_-1')", required: true %>
      <label for="order_payment_method_-1">
        <img src="<%#= image_url "visa-mastercard-logo.png" %>" id="payment_img_-1"
          class="<%#= "removeFilter" if @order.payment_method == -1 %>">
      </label>
    </div-->

    <div style="display: inline-block; margin: 1em;">
      <%= f.radio_button "payment_method", 0, style: "display: none;",
        onchange: "removeFilter('#payment_img_0')", required: true %>
      <label for="order_payment_method_0">
        <img src="<%= image_url "oxxo-logo.png" %>" id="payment_img_0"
          class="<%= "removeFilter" if @order.payment_method == 0 %>">
      </label>
    </div>

    <% @banks.each do |bank| %>
      <div style="display: inline-block; margin: 1em;">
        <%= f.radio_button "payment_method", bank.id, style: "display: none;",
          onchange: "removeFilter('#payment_img_#{bank.id}')", required: true %>
        <label for="order_payment_method_<%= bank.id %>">
          <img src="<%= bank.image.url(:mini) %>" id="payment_img_<%=bank.id%>"
            class="<%= "removeFilter" if @order.payment_method == bank.id %>">
        </label>
      </div>
    <% end %>

    <br>
    <%= f.submit "Guardar", class: "btn btn-primary" %>
  <% end %>
</section>

<style>
  form img{
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    height: 75px;
  }
  .removeFilter{
    -webkit-filter: none;
    filter: none;
  }
</style>

<script type="text/javascript">
  function removeFilter(target){
    $(`.removeFilter`).removeClass("removeFilter");
    $(target).addClass("removeFilter");
  }
</script>
