<% provide(:title, "Mis órdenes") %>
<% provide(:meta_description, "Ver historial de órdenes") %>

<div class="text-center" style="margin-bottom:2em;">
  <h1 class="module-title long-up-2x">Mis órdenes</h1>
	<h2 class="module-subtitle">Aquí puedes ver todas las órdenes que has realizado.</h2><br/>
</div>

<% @orders.each do |order| %>
  <%= render partial: 'order', locals: { o: order } %>
<% end %>

<div class="row">
  <div class="col-md-12">
     <div class="pull-right">
       <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
     </div>
   </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="devider m-b-xxl">
      <%= image_tag("divider-down.svg") %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="iconbox-title">Instrucciones de pago</h3>
      </div>
      <div class="modal-body">
        <p><b>Nota:</b> Si eligió recoger en el almacén tiene la opción de pagar en efectivo
          al recibir su pedido o bien hacer un depósito/tránsferencia como se indica a continuación:</p>
        <p><b>Paso 1:</b> Realice el pago total de su compra en la siguiente cuenta.</p>
        
        <section id="bank-payment-info"></section>

        <p><b>Paso 2:</b> Tome una foto, escanee o guarde el archivo del comprobante de pago.</p>
        <p><b>Paso 3:</b> Seleccione el comprobante de pago dando click en “Enviar comprobante de pago”</p>
        <p><b>Nota:</b> Si  por error eligió un archivo equivocado y desea enviar otro, solo de click  nuevamente  en “Enviar comprobante de pago” y seleccione  el correcto.</p>
        <p>
          Si tiene alguna duda o comentario comuníquese sin costo al teléfono 01 800 500 7050
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<%= render "/shared/modal" %>

<style>
  .btn{ margin: 0.5em !important; }

  .btn-gold{
    background: #E6CA9A;
    border-color: #E6CA9A;
    color: #333;
  }

  .btn-gold:hover,
  .btn-gold:focus,
  .btn-gold:active,
  .btn-gold.active{
    background: #D5B989;
    border-color: #D5B989;
  }

  .btn-white{
    background: #fff;
    border-color: #bbb;
    color: #333;
  }

  .btn-white:hover,
  .btn-white:focus,
  .btn-white:active,
  .btn-white.active{
    background: #efefef;
    border-color: #777;
  }

  .order-box{ margin-bottom: 3em; }
  .order-box-title{ padding-left: 15px; }

  .order-box,
  .order-box-title,
  .order-box-info{ background-color: #f6f6f6; }

  .order-info{ margin-top: 0.5em; }
  .order-info b,
  .order-info span,
  .order-info label{ display: block; }

  .label{ font-size: 13px !important; }

  #bank-payment-info{
    background-color: #f6f6f6;
    border: 1px solid #cacaca;
    margin: 1em;
    padding: 1em;
    width: max-content;
  }

  @media screen and (max-width: 720px) {
    .order-info b,
    .order-info span,
    .order-info label{
      display: inline-block;
    }
  }
</style>

<%= javascript_include_tag 'image-tools' %>

<script type="text/javascript">
  function resize_and_upload(trigger, order_id) {
    initLoader();

    ImageTools.resize(trigger.files[0], {
      width: 720,
      height: 720
    }, function(blob, resized) {
      let url = "<%= client_upload_pay_order_path(@current_user.hash_id, "to_be_replaced", format: :json) %>";
      url = url.replace("to_be_replaced", order_id);

      let form_data = new FormData();
      form_data.append("order[payment]", blob);

      $.ajax({
        type: "PUT", 
        url: url, data: 
        form_data, 
        processData: false,
        contentType: false
      }).done(function(response) {
        if(response.success){
          $("#dismissible_alerts").append(`<%= j render partial: "/shared/dismissible_alert", 
            locals: {message_type: :success, message: "Comprobante de pago guardado"} %>`);
        }else{
          $("#dismissible_alerts").append(`<%= j render partial: "/shared/dismissible_alert", 
            locals: {message_type: :success, message: "Los formatos admitidos son jpg, png y pdf."} %>`);
        }
        removeLoader();
        //location.reload();
      });
    });

  }

  function money_format(number){
    return parseFloat(number).toFixed(2).replace(/./g, function(c, i, a) {
      return i && c !== "." && ((a.length - i) % 3 === 0) ? "," + c : c;
    });
  }
</script>

<% if params[:info_for].present? %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#payment-info-link-<%= params[:info_for] %>").click();
      costs = $(".individual-cost");
      costs.each(function(){
        $(this).html(money_format($(this).text()));
      });
    });
  </script>
<% end %>
