<% provide(:title, "Mis órdenes") %>
<% provide(:meta_description, "Ver historial de órdenes") %>

<div class="text-center" style="margin-bottom:2em;">
  <h1 class="module-title long-up-2x">Mis órdenes</h1>
	<h2 class="module-subtitle">Aquí puedes ver todas las órdenes que has realizado.</h2><br/>
</div>

<% @orders.each do |o| %>
  <div id="<%=o.hash_id%>" class="order-box">
    <div class="row order-box-title">
      <div class="col-xs-9">
        <b>orden</b>
      </div>
      <div class="col-xs-3 text-right">
        <% if o.state == "WAITING_FOR_PAYMENT" or o.state == "LOCAL" %>
          <!-- to cancel an order -->
          <%= link_to "<span class='icon-close' style='font-size: 30px;'></span>".html_safe,
            client_cancel_order_path(@current_user.hash_id, o.hash_id),
            data:{confirm: "Seguro(a) de cancelar el pedido?"}, remote: true, method: :delete %>
        <% end %>
      </div>
    </div>

    <div class="row order-box-info">
      <div class="col-sm-2">
        <b>Referencia:</b></br>
        <%= o.hash_id %>
      </div>
      <!-- div class="col-sm-2">
        <b>Fecha:</b></br> <%#= l(o.created_at, format: :long) %>
      </div -->
      <div class="col-sm-2">
         <b>Status:</b></br>
         <% case o.state %>
         <%when "ORDER_CANCELED"%>
           <label class="label label-danger" style="font-size: 13px;"><%=t(o.state)%></label>
         <%when "PAYMENT_REJECTED"%>
           <label class="label label-warning" style="font-size: 13px;"><%=t(o.state)%></label>
         <%when "PAYMENT_DEPOSITED"%>
           <label class="label label-custom-2" style="font-size: 13px;"><%=t(o.state)%></label>
         <%else%>
           <label class="label label-success" style="font-size: 13px;"><%=t(o.state)%></label>
         <%end%>
      </div>
      <div class="col-sm-1">
        <b>Total:</b></br> $<%= o.total %> MXN
      </div>
      <div class="col-sm-2">
        <b>Código de rastreo:</b>
        <% if o.tracking_code and o.parcel_id and o.parcel_id != 0 %>
          <% parcel = o.Parcel %>
          <a href="<%=parcel.tracking_url%>" target="_blank">
            <%= image_tag parcel.image.url(:mini), class: "img-rounded", style: "width:60px;" %>
          </a>
        <% end %><br>
        <%= o.tracking_code %>
        <%= '<span class="label label-default">No aplica</span>'.html_safe if o.state == "LOCAL" %>
      </div>
      <div class="col-sm-2 text-center">

        <b>Comprobante:</b></br>
        <% if !o.pay_img.file.nil? or !o.pay_pdf.file.nil? %>
          <%= link_to client_get_order_payment_path(@current_user.hash_id, o.download_payment_key), target: '_blank' do %>
            <i class="fa fa-file-o fa-3x"></i>
          <% end %>
        <% elsif o.state == "LOCAL" %>
          <span class="label label-default">No aplica</span>
        <% else %>
          <span class="label label-default">No se ha subido ninguna foto.</span>
        <% end %>

      </div>

      <% unless o.state == "LOCAL" %>
        <div class="col-sm-1 text-center">
          <p><strong>Destino</strong></p>
          <%= link_to "https://maps.google.com.mx/maps/search/#{o.address_for_google}", { target: "_blank" } do %>
            <i class="fa fa-map-marker fa-3x"></i>
          <% end %>
        </div>
      <% end %>

      <div class="col-sm-2 text-center">
        <p><strong>Ver pedido</strong></p>
        <%= link_to "<span class='icon-eye'></span>".html_safe, client_order_path(@current_user.hash_id, o.hash_id),
          class: "darklink", style: "font-size: 32px;", target: "_blank" %>
      </div>
    </div>
    <% if o.state == "LOCAL" %>
      <div class="row order-box-foot" style="padding-left: 1em;">
        <p>Recojer en: Galeana 125, col Centro Guadalajara, Jal. cp 44100, Lunes a Sábado 9AM a 6PM</p>
        <p>El pago deberá ser realizado al momento de recojer la mercancía en las instalaciones.</p>
      </div>
    <% end %>
    <% if o.state=="WAITING_FOR_PAYMENT" or o.state=="PAYMENT_DEPOSITED" or o.state=="PAYMENT_REJECTED" %>
    <div class="row order-box-foot">
      <div class="col-sm-6">
        <% if o.state=="WAITING_FOR_PAYMENT" or o.state=="PAYMENT_DEPOSITED" or o.state=="PAYMENT_REJECTED" %>
          <%= link_to client_get_bank_payment_info_path(@current_user.hash_id, o.hash_id), remote: true,
                class: 'darklink label-custom-2', style: 'cursor:pointer; color: #FEFEFE;' do %>
            <span class="btn btn-custom-1 btn-sm pull-right"> <strong>Información para pagar</strong></span><br>
          <% end %>
        <% end %>
      </div>

      <%= form_for(o, url: client_upload_pay_order_path(@current_user.hash_id, o.hash_id),
                      method: :put, html:{id:"form_photo_#{o.hash_id}"},
                      data:{confirm: "Seguro(a) de ser el archivo correcto?"}) do |f| %>
        <div class="col-sm-2 text-right">
          <%= f.file_field :pay_img, id: "field_#{o.hash_id}",
              style: "display: none;", multiple: false,
              onchange: "$('#pay_img_commit_#{o.hash_id}').click();" %></br>
        </div>
        <div class="col-sm-4">
          <span onclick="$('#field_<%=o.hash_id%>').click();"
             class="btn btn-custom-1 btn-sm pull-right">Enviar comprobante de pago</span>

          <%= f.submit "Subir foto del pago".html_safe,
              id: "pay_img_commit_#{o.hash_id}", style: "display: none;" %>
        </div>
      <% end if o.state=="WAITING_FOR_PAYMENT" or o.state=="PAYMENT_DEPOSITED" or o.state=="PAYMENT_REJECTED" %>
    </div>
    <% end %>
  </div>
  </br></br>
<% end %>

<div class="row">
  <div class="col-md-12">
     <div class="pull-right">
       <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
     </div>
   </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="devider m-b-xxl">
        <%= image_tag("divider-down.svg") %>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="iconbox-title">Instrucciones de pago</h3>
      </div>
      <div class="modal-body">
         <p><b>Paso 1:</b> Realice el pago total de su compra a una de las siguientes cuentas.</p>
         <table class="table">
           <thead>
             <tr><th>Banco</th>
               <th>Número de cuenta</th>
               <th>Clabe interbancaria</th>
               <th>Referencia</th>
               <th>Beneficiario</th>
             </tr>
           </thead>
           <tbody id="bank-payment-info">
           </tbody>
         </table>
         <p><b>Paso 2:</b> Tome una foto, escanee o guarde el archivo del comprobante de pago.</p>
         <p><b>Paso 3:</b> Seleccione el comprobante de pago dando click en “Enviar comprobante de pago”</p>
         <p><b>NOTA:</b> Si  por error eligió un archivo equivocado y desea enviar otro, solo de click  nuevamente  en “Enviar comprobante de pago” y seleccione  el correcto.</p>
         <p>
           Si tiene alguna duda o comentario comuníquese sin costo al teléfono 01 800 500 7050
         </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<%= render '/shared/modal'%>

<script type="text/javascript">
$(document).ready(function(){
  // init ekko-lightbox
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
});
</script>

<style>
  .modal-body .table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
</style>

<%= stylesheet_link_tag 'ekko-lightbox.min', media: 'all' %>
<%= javascript_include_tag 'ekko-lightbox.min' %>
