<% provide(:title, "Visitas") %>
<%= render partial: "/shared/distributor/header_band", locals: {title: "Visitas", 
  labels: ["Clientes", "Visitas"], links: [distributor_clients_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="ibox">
      <div class="ibox-content">
        <%= form_tag distributor_client_visits_path(@client.hash_id), method: :post, class: "pull-right" do %>

          <div class="form-group">
            <%= label_tag :visit_date, "Fecha de visita" %> <br>
            <%= text_field_tag :visit_date, Date.today, class: "form-control",
              maxlength: 15, placeholder: "YYYY-MM-DD", required: true %>
          </div>

          <%= submit_tag "Registrar visita", class: "btn btn-primary btn-sm m-t" %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="ibox">
      <div class="ibox-content text-center">
          <h3 class="m-b-xxs">Listado de tus Visitas del cliente <%= @client.name %></h3>
          <small>Aquí encontrarás la lista de todas las visitas que ha recibido este cliente</small>
      </div>
    </div>


    <div class="row">
      <%= render partial: "presentation_table" %>
    </div>

  </div>
</div>
<!--End content whit animation-->
<br><br>

<script type="text/javascript">
  $(document).ready(() => {
    // Prepare the calendar script to be run
    options = {
                locale: "es",
                format: "YYYY-MM-DD",
                // date: new Date(),
                // maxDate: new Date(),
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: "fa fa-chevron-left",
                    next: "fa fa-chevron-right",
                    today: "fa fa-arrows",
                    clear: "fa fa-times"
                }
              }
    $("#visit_date").datetimepicker(options);
  });
</script>

<%= stylesheet_link_tag "bootstrap-datetimepicker.min", media: "all" %>
<%= javascript_include_tag "bootstrap-datetimepicker-custom" %>
