<div class="col-lg-12">
  <div class="ibox">
  	<div class="ibox-content">

  			<div class="row m-b-sm m-t-sm">
          <div class="col-md-5">
            <input type="text" class="form-control input-sm m-b-xs" id="filter" maxlength="25" placeholder="Buscar en tabla">
          </div>
  				<div class="col-md-2">
  					<%= link_to(admin_warehouse_products_path, :class => "btn btn-white btn-sm full-width m-b-xs") do %>
  						<i class="fa fa-refresh"></i> Actualizar
  					<% end %>
  				</div>
          <div class="col-md-2">
            <% if @actions["SHOW_SHIPMENTS"] %>
    					<%= link_to(admin_chief_shipments_path(params[:warehouse_id]), :class => "btn btn-white btn-sm full-width m-b-xs") do %>
    						<i class="fa fa-truck"></i> Envíos del almacén
    					<% end %>
            <% end %>
  				</div>
          <div class="col-md-3">
          <% if @actions["INVENTORY"] %>
            <%= link_to "<i class='fa fa-file-text-o'></i> Impresión de inventario".html_safe,
                    admin_inventory_path(@warehouse.hash_id), :class => "btn btn-white btn-sm full-width m-b-xs", target: "_blank" %>
          <% end %>
          </div>
  			</div>

  			<table class="footable table table-stripped  toggle-arrow-tiny" data-page-size="15" data-filter=#filter>
  					<thead>
    					<tr>
                  <th data-sort-ignore="true"></th>
    					    <!--<th data-hide="phone" data-sort-ignore="true"></th>-->
                  <th>Clave</th>
    					    <th>Nombre</th>
    					    <th data-hide="phone" data-type="numeric">Existencia</th>
    					    <th data-hide="phone" data-type="numeric">Stock Mínimo</th>
    					</tr>
  					</thead>
  					<tbody>
              <% if @actions["SHOW"] %>
                <% @products.each do |wp| %>
                  <% p = wp.Product %>
      					  <tr>
                    <td></td>
                    <td><%= p.hash_id %></td>
        						<td><%= p.name %></td>
        						<td>
                      <button id="stock-<%= p.hash_id %>" type="button" class="btn btn-primary btn-sm m-r-sm"
                              onclick="update_shipment_preparations_form('<%= p.name %>', '<%= p.hash_id %>');">
                              <%= wp.existence %>
                      </button>
                    </td>
        						<td>
                      <button id="min-stock-<%= p.hash_id %>" type="button" class="btn btn-warning btn-sm m-r-sm"
                              onclick="update_min_existence_form('<%= p.name %>', '<%= p.hash_id %>');">
                              <%= wp.min_stock %>
                      </button>
                    </td>
      					  </tr>
      					<% end # @products.each # %>
              <% end # if @actions["SHOW"] # %>
  					</tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <% if @actions["SHOW"] %>
                    <div class="pull-right">
                      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
                    </div>
                  <% end # if @actions["SHOW"] # %>
                </td>
              </tr>
            </tfoot>
  			</table>

        <script>
            $(document).ready(function() {
                $('.footable').footable();
            });
        </script>

  	</div>
  </div>
</div>
