<% provide(:title, "Almacenes") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Productos en el almacén", labels: ['Almacenes', 'Productos en el almacén'], links: [admin_warehouses_path]} %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render "/shared/warehouse_head_bar" %>

    <div class="row">
      <%= render partial: "presentation_table" %>
    </div>

    <% if @current_user.has_permission?('warehouse_manager@transfer_mercancy') %>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox ibox-content">
            <h3 class="m-t-none m-b">Preparativos para transferencia</h3>
            <div id="prepare_product_for_shipment">
              <% hash = session[:shipment_products].clone %>
              <% hash.delete("warehouse") %>
              <% hash.keys.each do |k| %>
                <% products = hash[k] %>
                <div class="col-md-12 well" id="<%=k%>">
                  <h4 class="m-l">Lote(s) de producto: <small><%= hash[k]["name"] %></small></h4>
                  <% products.keys.each do |p_k| %>
                    <% if p_k != "name" %>
                      <%= render partial: "product_preparated", locals: {product: products[p_k], product_key: p_k} %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <%= form_for(:shipment, :url=> admin_chief_shipments_path(params[:warehouse_id])) do |f| %>
              <%= f.hidden_field :shipment_type, value: "TRANSFER" %>
              <%= f.hidden_field :chief_id, value: @current_user.id %>
              <%= f.hidden_field :origin_warehouse_id, value: @warehouse.id %>

              <%= select_tag "shipment[target_warehouse_id]", options_from_collection_for_select(
              @warehouses, "id", "name"), prompt: "Selecciona...", class: "form-control m-b", required: true %>

              <%= f.submit "Enviar productos al almacén!", class: "btn btn-primary",
              data: {confirm: "Seguro(a) de registrar el envío de productos?" }%>
            <% end %>
          </div>
        </div>
      <% end # if @actions["TRANSFER_MERCANCY"] # %>
    </div>
  </div>
</div>

<%= render "shared/modal" %>

<% if @current_user.has_permission?('warehouse_manager@transfer_mercancy') %>
<script type="text/javascript">
  function update_shipment_preparations_form(product_name, product_id, warehouse_product_id, existencia) {
    modal = $('#modal')
    modal.find('.modal-title').html("Transferir existencia de: "+product_name);
    modal.find('.modal-body').html('<%= j render "transfer_preparation_form" %>');

    $("#warehouse_product_name").val(product_name);
    $("#warehouse_product_quantity").attr("max", existencia);

    var _href = $('#transfer_preparation_form').attr('action');
    $('#transfer_preparation_form').get(0).setAttribute('action', _href.replace("0x0", product_id));

    modal.modal('show');
  }
</script>
<% end # if @actions["TRANSFER_MERCANCY"] # %>
