<% provide(:title, "Almacenes") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Envíos de almacén", labels: ['Almacenes', @warehouse.name, "Envíos", "Detalles"], links: [admin_warehouses_path, admin_warehouse_products_path(@warehouse.alph_key), admin_shipments_path(@warehouse.alph_key)]} %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render "/shared/warehouse_head_bar" %>

    <div class="row col-lg-12">
      <div class="ibox ibox-content">

        <%= render partial: "shipment", locals: {s: @shipment} %>
        <div class="hr-line-dashed"></div>
        <table class="table">
          <thead><tr><th><h4>Detalles:</h4></th></tr></thead>
          <tr><td>
            <%= form_tag(admin_difference_report_path(@warehouse.alph_key, @shipment.id)) do %>
              <% @details.each do |d| %>
                <p><b>Producto:</b> <%= d.Product.name %></p>
                <p><b>Cantidad:</b> <%= d.quantity %></p>

                <% if @report %>
                  <% @report_details.each do |rd| %>
                    <% if rd.shipment_detail_id == d.id %>
                    <p style="color: #900">
                      <b>Existencia real:</b> <%= rd.difference %>
                    </p>
                    <% end %>
                  <% end %>
                <% end %>

                <p><b>Lote:</b> <%= d.batch %></p>
                <p><b>Fecha de caducidad capturada:</b> <%= d.expiration_date %></p>
                <% if @shipment.got_safe_to_destination.nil? %>
                  <%= number_field_tag "difference_#{d.id}", " ", :class => "form-control m-b", step: 1, min: 1, max: 999999, :placeholder => "introduce aquí la cantidad real (si es que existe una diferencia)" %>
                <% end %>
                <div class="hr-line-dashed"></div>
              <% end #details.each end %>

              <% if @shipment.got_safe_to_destination.nil? %>
                <p><b>Observaciones:</b></p>
                <%= text_area_tag :observations, "", :class => "form-control m-b", maxlenght: 250, :placeholder => "Introduce aquí tus observaciones." %>

                <%= link_to "Todo llegó según lo esperado!", admin_receive_complete_shipment_path(@warehouse.alph_key, @shipment.id), :class => "btn btn-primary m-b btn-sm", method: :post %>
                <%= submit_tag "Guardar reporte de diferencias", {:class => "btn btn-warning m-b btn-sm", data:{confirm: "Estás seguro(a) de guardar el reporte de diferencias?"}} %>

              <% end %>
            <% end #form_tag end %>
          </td></tr>
        </table>

      </div>
    </div>
    </br>

  </div>
</div>
