<div class="col-md-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title"><h5>Detalles del perfil</h5></div>
    <div class="ibox-content no-padding border-left-right">
      <%= image_tag(site_worker.avatar_url, class: "img-responsive full-width" ) %>
    </div>
    <div class="ibox-content profile-content">
      <%= content_tag(:h4, site_worker.full_name) %>
      <h5>Datos</h5>
      <table>
			  <tr>
			    <td class="table-padd"><b>Identificador:</b></td>
          <%= content_tag(:td, site_worker.hash_id) %>
			  </tr>
			  <tr>
			    <td><b>Ubicación:</b></td>
			    <%= content_tag(:td, site_worker.location) %>
			  </tr>
			  <tr>
			    <td><b>Correo electrónico:</b></td>
			    <%= content_tag(:td, site_worker.email) %>
			  </tr>
			  <tr>
			    <td><b>Teléfono:</b></td>
			    <%= content_tag(:td, site_worker.telephone_with_lada) %>
			  </tr>
        <tr>
          <td><b>Celular:</b></td>
          <%= content_tag(:td, site_worker.cellphone) %>
        </tr>
        <tr>
          <td><b>Almacén:</b></td>
          <%= content_tag(:td, site_worker.Warehouse) %>
        </tr>
			</table>
      <br>
    </div>
  </div>
</div>
