<% provide(:title, "Trabajadores") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Perfil del trabajador", 
  labels: ["Trabajadores", "Perfil del trabajador"], links: [admin_site_workers_path]} %>

<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="row">
      <%= render partial: "details_box", locals: {site_worker: @worker} %>

      <div class="col-md-8">
        <!--Datos del distribuidor-->
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Información del trabajador</h5>
            <div class="ibox-tools">
              <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              <a class="close-link"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><strong>Clave:</strong></td>
                  <td><%= @worker.hash_id %></td>
                  <td><strong>Fecha nacimiento:</strong></td>
                  <td><%= l(@worker.birthday, format: :long) if @worker.birthday %></td>
                </tr>
                <tr>
                  <td><strong>Nombre:</strong></td>
                  <%= content_tag(:td, @worker.full_name, col_span: 3) %>
                </tr>
                <tr>
                  <td><strong>Ubicación:</strong></td>
                  <%= content_tag(:td, @worker.location) %>
                  <td><strong>Dirección:</strong></td>
                  <td><%= @worker.address %></td>
                </tr>
                <tr>
                  <td><strong>Teléfono:</strong></td>
                  <%= content_tag(:td, @worker.telephone_with_lada) %>
                  <td><strong>Teléfono celular:</strong></td>
                  <td><%= @worker.cellphone %></td>
                  <tr>
                    <td><strong>RFC:</strong></td>
                    <td><%= @worker.rfc %></td>
                    <td><strong>NSS:</strong></td>
                    <td><%= @worker.nss %></td>
                  </tr>
                  <tr>
                    <td><strong>Fecha de creación:</strong></td>
                    <td><%= l(@worker.created_at, format: :long) %></td>
                    <td><strong>Última modificación:</strong></td>
                    <td><%= l(@worker.updated_at, format: :long) %></td>
                  </tr>
                  <tr>
                    <td><strong>Email:</strong></td>
                    <td colspan="3"><%= @worker.email %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div><br>
