<center>
  <div class="btn-group m-b">
  <%
  if !params[:distributor].blank?
    url = "?distributor=#{params[:distributor]}&type="
  else
    url = "?type="
  end
    %>

  <% if @actions["SEARCH"] %>
    <%= link_to "Buscar", admin_orders_search_path,
        :class => "btn btn-white m-b-xs" %>
  <% end %>

  <% if @actions["CANCEL"] %>
    <%= link_to "Sin depósito", url + 'CANCEL',
        :class => "btn btn-white m-b-xs CANCEL" %>
  <% end %>

  <% if @actions["ACCEPT_REJECT_PAYMENT"] %>
    <%= link_to "Con depósito", url + 'ACCEPT_REJECT_PAYMENT',
        :class => "btn btn-white m-b-xs ACCEPT_REJECT_PAYMENT" %>
  <% end %>

  <% if @actions["CAPTURE_BATCHES"] %>
  <%= link_to "Por capturar", url + 'CAPTURE_BATCHES',
  :class => "btn btn-white m-b-xs CAPTURE_BATCHES" %>
  <% end %>

  <% if @actions["INSPECTION"] %>
    <%= link_to "Inspeccionar", url + 'INSPECTION',
        :class => "btn btn-white m-b-xs INSPECTION" %>
  <% end %>

  <% if @actions["CAPTURE_TRACKING_CODE"] %>
    <%= link_to "Código de rastreo", url + 'CAPTURE_TRACKING_CODE',
        :class => "btn btn-white m-b-xs CAPTURE_TRACKING_CODE" %>
  <% end %>

  <% if @actions["SHOW"] %>
    <%= link_to "Enviadas", url + 'SENT',
        :class => "btn btn-white m-b-xs SENT" %>
  <% end %>

  <% if @actions["SHOW"] %>
    <%= link_to "Entregadas", url + 'DELIVERED',
        :class => "btn btn-white m-b-xs DELIVERED" %>
  <% end %>

  <% if @actions["INVOICES"] %>
    <%= link_to "Por facturar", url + 'INVOICES',
        :class => "btn btn-white m-b-xs INVOICES" %>
    <% if params[:type] == "INVOICES" %>
      <%= link_to "<i class='fa fa-download'></i> Por facturar".html_safe,
          admin_download_orders_invoice_data_path(current: false),
          :class => "btn btn-white m-b-xs", target: "_blank", data: {confirm: "Al descargar un nuevo archivo de facturación se perderá el antiguo, ¿Está seguro(a) de descargarlo?"} %>

      <%= link_to "<i class='fa fa-download'></i> Último archivo".html_safe,
          admin_download_orders_invoice_data_path(current: true),
          :class => "btn btn-white m-b-xs", target: "_blank" %>
    <% end %>
  <% end %>

  <%# if @actions["STABLISH_AS_SENT"] %>
    <%#= link_to "Por enviar", "#", :class => "btn btn-white" %>
  <%# end %>

  <%# if @actions["STABLISH_AS_DELIVERED"] %>
    <%#= link_to "", "#", :class => "btn btn-white" %>
  <%# end %>
  </div>
</center>

<script type="text/javascript">
  $(document).ready(function(){
    current_element = $(".<%=params[:type]%>");
    current_element.addClass('btn-default');
    current_element.removeClass('btn-white');
  });
</script>
