<% if @current_user.has_permission?("orders@show") %>
  <%= link_to admin_order_details_path(o.hash_id), target: "_blank",
    class: "btn btn-white btn-sm m-b-xs hidden-button" do %>
    <i class="fa fa-eye"></i> Ver pedido
  <% end %>
<% end %>

<% if @current_user.has_permission?("orders@capture_tracking_code") and params[:type] == "CAPTURE_TRACKING_CODE" %>
  <%= link_to admin_order_details_path(o.hash_id) + "?only_address=#{o.hash_id}",
    class: "btn btn-white btn-sm m-b-xs hidden-button", target: "_blank" do %>
    <i class="fa fa-truck"></i> Datos de entrega
  <% end %>
<% end %>

<% if @current_user.has_permission?("orders@inspection") and params[:type] == "INSPECTION" %>
  <%= link_to "Inspeccionado", admin_inspection_order_path(o.hash_id),
    class: "btn btn-white btn-sm m-b-xs hidden-button", method: :put,
    data: {confirm: "Estas seguro(a) de que se surtió correctamente?"} %>

  <%= link_to admin_order_supply_error_path(o.hash_id),  
    class: "btn btn-danger btn-sm m-b-xs hidden-button", method: :put,
    data: {confirm: "Estas seguro(a) de regresar el pedido?"} do %>
    <i class="fa fa-trash"></i> Volver a surtir
  <% end %>
<% end %>

<% if @current_user.has_permission?("orders@capture_batches") and params[:type] == "CAPTURE_BATCHES" %>
  <%= link_to "Capturar números de lote", admin_capture_details_path(o.hash_id), 
    class: "btn btn-white btn-sm m-b-xs hidden-button" %>
<% end %>

<% if @current_user.has_permission?("orders@stablish_as_delivered") and params[:type] == "SENT" %>
  <%= link_to admin_order_delivered_path(o.hash_id),
    class: "btn btn-white btn-sm m-b-xs hidden-button", method: :put, 
    data: { confirm: "Estas seguro(a) de que ya se entregó el pedido?" } do %>
    <i class="fa fa-check-square-o"></i> Producto entregado
  <% end %>
<% end %>

<% if @current_user.has_permission?("orders@invoices") and params[:type] == "INVOICES" %>
  <td>
    <% if !o.invoice %>
      <label class="label label-info">General</label>
    <% end %>
    <% if o.invoice_sent %>
      <i class="fa fa-check-circle-o fa-3x" style="color: #1d9d74"></i>
    <% end %>
  </td>
<% end %>

<% if @current_user.has_permission?("orders@cancel") and (o.state == "WAITING_FOR_PAYMENT" or
  o.state == "PAYMENT_REJECTED") and params[:type] != "INVOICES" %>

  <% if o.payment_method_code == "OXXO_PAY" and @current_user.has_permission?('orders@accept_reject_payment')%>
    <%= link_to "Aceptar pago de Oxxo",
      admin_accept_order_pay_path(o.hash_id, "true", payment_folio: o.conekta_order_id),
      method: :put, class: "btn btn-primary btn-sm m-b-xs hidden-button",
      data: { confirm: "Seguro(a) de aceptar el pago de esta órden?" } %>
  <% end %>

  <% if o.payment_method_code == "BBVA" and @current_user.has_permission?('orders@accept_reject_payment')%>
    <%= link_to "Aceptar pago de BBVA",
      admin_accept_order_pay_path(o.hash_id, "true", payment_folio: o.bbva_charge_id),
      method: :put, class: "btn btn-primary btn-sm m-b-xs hidden-button",
      data: { confirm: "Seguro(a) de aceptar el pago de esta órden?" } %>
  <% end %>

  <a class="btn btn-danger btn-sm m-b-xs hidden-button"
    onclick="update_cancel_form('<%=o.hash_id%>')">
    <i class="fa fa-trash"></i> Cancelar
  </a>
<% end %>

<% if @current_user.has_permission?("commissions@create") and
  params[:type] == "DELIVERED" and !params[:distributor].blank? and 
  !o.commission_in_progress %>&nbsp;&nbsp;&nbsp;
  <%= check_box_tag "order", o.hash_id, false, autocomplete: :off,
    onchange: "update_orders_for_commission(this)" %>
<% end %>
