<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<div class="container">
  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">

       <div class="col-lg-12" style="border-bottom: dashed 1px #ccc;padding-top:10px;">
         <% if !@order.cancel_description.nil? %>
           <div class="alert alert-danger" role="alert">
           <h4>Se ha cancelado el pedido debido a:</h4>
           <p>
             <%= @order.cancel_description %>
           </p></div>
         <% elsif !@order.reject_description.nil? %>
           <div class="alert alert-danger" role="alert">
           <h4>Se ha rechazado el pago del pedido debido a:</h4>
           <p>
             <%= @order.reject_description %>
           </p></div>
         <% end %>

          <% if !params[:only_address] or params[:only_address] != "Y"%>
              <h3>Pedido</h3>
              <p><strong>Referencia:</strong> <span class="text-navy"><%= @order.hash_id %> <%if !@order.tracking_code.blank?%> - <strong>Código de envío:</strong> <%= @order.tracking_code %></span><%end%></p>
              <p class="pull-right" style="font-size:12px;">
                <span><strong>Fecha de creación:</strong> <%= l(@order.created_at, format: :long) %></span><br>
                <span><strong>Última modificación:</strong> <%= l(@order.updated_at, format: :long) %></span><br>
              </p>
              <p style="font-size:12px;">
                  <b>Remitente:</b>
                  Black Brocket de México S. De R.L de C.V.<br>
                  <% warehouse=@order.Warehouse %>
                  <%= warehouse.address %>
                  <% city = warehouse.City %>
                  <%= city.name %>,
                  <%= city.State.name %>, México<br>
                  Teléfono: (<%= city.lada %>) <%= warehouse.telephone %>
              </p>
          <% end # if to not show when only want address for etiquette # %>

          <% if !params[:only_address] or params[:only_address] != "Y"%>
            <div class="table-responsive m-t">
              <table class="table invoice-table" style="margin-bottom: 0px;">
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Presentación</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>(IVA)</th>
                    <th>(IEPS)</th>
                    <th>Importe</th>
                  </tr>
                </thead>
                <tbody>
                  <% sub_total = 0 %>
                  <% ieps = 0 %>
                  <% shipment_details = OrderProductShipmentDetail.where(order_id: @details[0].order_id) %>
                  <% @details.each do |d| %>
                    <% p = d.Product %>
                    <tr>
                      <td>
                        <span style="border-bottom: dashed 1px #ccc;"><%= p.name %></span>
                        <% shipment_details.each do |sd| %>
                          <% if sd.product_id == p.id %>
                            <br>Lot. <%= sd.batch %> (<%= sd.quantity %>)
                          <% end %>
                        <% end %>
                      </td>
                      <td><%= p.presentation %><br><br></td>
                      <td><span class="number_format"><%= d.quantity %></span><br><br></td>
                      <% unit_price = d.price %>
                      <td>$ <span class="number_format"><%= unit_price %></span><br><br></td>
                      <!-- IVA -->
                      <td>
                        <%=d.iva%> %<br>
                        ($<span class="number_format"><%= d.total_iva %></span>)<br>
                      </td>
                      <!-- IEPS -->
                      <td>
                        <%=d.ieps%> %<br>
                        ($<span class="number_format"><%= d.total_ieps %></span>)<br>
                      </td>
                      <% current_import = (d.sub_total - d.total_iva - d.total_ieps).round(2) %>
                      <td>$
                        <span class="number_format"><%= current_import %></span><br><br>
                      </td>
                      <% sub_total += current_import %>
                      <% ieps += current_import*(d.ieps/100) %>
                    </tr>
                  <% end %>
                    <tr>
                      <td align="right" colspan="6"><strong>Sub Total:</strong></td>
                      <td>$ <span class="number_format"><%= sub_total.round(2) %></span>
                      </td>
                    </tr>
                    <tr>
                      <td align="right" colspan="6"><strong>IEPS:</strong></td>
                      <td>$ <span class="number_format"><%= ieps.round(2) %></span>
                      </td>
                    </tr>
                    <tr>
                      <td align="right" colspan="6"><strong>IVA:</strong></td>
                      <td>$ <span class="number_format"><%= (@order.total - @order.shipping_cost - ieps - sub_total).round(2) %></span>
                      </td>
                    </tr>
                    <tr>
                      <td align="right" colspan="6"><strong>Envío:</strong></td>
                      <td>$ <span class="number_format"><%= @order.shipping_cost %></span>
                      </td>
                    </tr>
                    <tr>
                      <td align="right" colspan="6"><strong>Total de venta:</strong></td>
                      <td>$ <span class="number_format"><%= @order.total %></span>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div><!-- /table-responsive -->
          <% end # if to not show when only want address for etiquette # %>
        </div>

        <div class="col-lg-12">

          <div class="pull-left" style="margin-right: 15px;">
            <table class="tablemn">
              <tbody>
                <tr>
                  <td colspan="2"><br><b>Datos de entrega:</b></td>
                </tr>
                <tr>
                  <td>Destinatario: </td>
                  <td>
                    <% if @fiscal_data.blank? %>
                      <%=@client.name%> <%=@client.lastname%> <%=@client.mother_lastname%>
                    <% else %>
                      <%=@fiscal_data.name%> <%=@fiscal_data.lastname%> <%=@fiscal_data.mother_lastname%>
                    <% end # if @fiscal_data.blank? # %>
                  </td>
                </tr>
                <tr>
                  <td>Calle:</td>
                  <td><%= @client.street %></td>
                </tr>
                <tr>
                  <td class="table-padd">Número exterior:</td>
                  <td><%= @client.extnumber %></td>
                </tr>
                <% if !@client.intnumber.blank? %>
                  <tr>
                    <td>Número interior:</td>
                    <td><%= @client.intnumber %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>Colonia:</td>
                  <td><%= @client.col %></td>
                </tr>
                <tr>
                  <td>Código postal:</td>
                  <td><%= @client.cp %></td>
                </tr>
                <tr>
                  <td>Entre calle:</td>
                  <td><%= @client.street_ref1 %></td>
                </tr>
                <tr>
                  <td>Y calle:</td>
                  <td><%= @client.street_ref2 %></td>
                </tr>
                <tr>
                  <td>Población:</td>
                  <td><%= @order.City.name %></td>
                </tr>
                <tr>
                  <td>Estado:</td>
                  <td><%= @order.City.State.name %></td>
                </tr>
                <tr>
                  <td>País:</td>
                  <td>México</td>
                </tr>
              </tbody>
            </table>
          </div>

          <% if !@fiscal_data.blank? and (!params[:only_address] or params[:only_address] != "Y") %>
            <div class="pull-left" style="margin-right: 15px;">
              <table class="tablemn">
                <tbody>

                  <tr>
                    <td colspan="2"><br><b>Datos fiscales:</b></td>
                  </tr>

                  <tr>
                    <% if @fiscal_data.lastname != "" %>
                      <td class="table-padd">Nombre(s):</td>
                    <% else %>
                      <td class="table-padd">Razón Social:</td>
                    <% end %>
                    <td><%= @fiscal_data.name %></td>
                  </tr>
                  <% if @fiscal_data.lastname != "" %>
                    <tr>
                      <td>Apellido paterno:</td>
                      <td><%= @fiscal_data.lastname %></td>
                    </tr>
                    <tr>
                      <td>Apellido materno:</td>
                      <td><%= @fiscal_data.mother_lastname %></td>
                    </tr>
                  <% end %>

                  <tr>
                    <td>RFC:</td>
                    <td><%= @fiscal_data.rfc %></td>
                  </tr>

                  <tr>
                    <td>Calle:</td>
                    <td><%= @fiscal_data.street %></td>
                  </tr>
                  <tr>
                    <td class="table-padd">Número exterior:</td>
                    <td><%= @fiscal_data.extnumber %></td>
                  </tr>
                  <% if !@fiscal_data.intnumber.blank? %>
                    <tr>
                      <td>Número interior:</td>
                      <td><%= @fiscal_data.intnumber %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td>Colonia:</td>
                    <td><%= @fiscal_data.col %></td>
                  </tr>
                  <tr>
                    <td>Código postal:</td>
                    <td><%= @fiscal_data.cp %></td>
                  </tr>
                  <tr>
                    <td>Población:</td>
                    <td><%= @city.name %></td>
                  </tr>
                  <tr>
                    <td>Estado:</td>
                    <td><%= @state.name %></td>
                  </tr>
                  <tr>
                    <td>País:</td>
                    <td>México</td>
                  </tr>

                </tbody>
              </table>
            </div>


          <% end # if !@fiscal_data.blank? # %>
        </div>
        <br>

        <div class="col-lg-12">
          <center>
            <a onclick="window.print();" href="#" class="btn btn-default print-link pull-right">
              Imprimir
            </a>
          </center>
        </div>

    </div>
  </div>
</div>
<!--End content whit animation-->
</br></br>

<script type="text/javascript">
  function money_format(number){
    return parseFloat(number).toFixed(2).replace(/./g, function(c, i, a) {
      return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
    });
  }

  $(document).ready(function(){
    numbers_to_format = $(".number_format");
    numbers_to_format.each(function(){
      $(this).html(money_format($(this).text()));
    });
  });
</script>

<style>
  .print-link, .print-link *
  {
    font-size: 1.3em;
    padding: .5em;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    font-size: 12px;
  }
  .tablemn > thead > tr > th,
  .tablemn > tbody > tr > th,
  .tablemn > tfoot > tr > th,
  .tablemn > thead > tr > td,
  .tablemn > tbody > tr > td,
  .tablemn > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 4px;
    vertical-align: top;
    font-size: 12px;
  }
  @media print
  {
    .print-link, .print-link *
    {
        display: none !important;
    }
  }
</style>
