<% provide(:title, "Órdenes") %>
<% if params[:distributor] %>
  <%= render partial: "/shared/admin/header_band", locals:
        {title: "Órdenes", labels: ['Distribuidores', 'Órdenes'], links: [admin_distributors_path]} %>
<% else %>
  <%= render partial: "/shared/admin/header_band", locals: {title: "Órdenes", labels: ['Órdenes']} %>
<% end %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="row">

    <div class="ibox">
      <div class="ibox-content text-center">
          <h3 class="m-b-xxs">Listado de órdenes</h3>
          <small>Aquí verás la lista de las órdenes realizadas por los clientes desde la página web.</small>
      </div>
    </div>

    <!--Table-->
    <div class="row">
      <% if @current_user.has_permission?('commissions@create') and
          params[:type] == "DELIVERED" and params[:distributor].present? %>
        <%= form_tag(admin_commissions_path(distributor: params[:distributor]),
          id: 'create-commission-form') do %>
          <div class="col-lg-12">
            <div class="ibox">
              <button class="btn btn-success pull-right"
                onclick="$('#create-commission-form')[0].submit();">
                Crear comisión
              </button>
              <div class="clearfix"></div>
            </div>
          </div>
          <%= render partial: "presentation_table" %>
        <% end #form end#%>
      <% else %>
        <%= render partial: "presentation_table" %>
      <% end %>
    </div>
    <!--End Table-->

  </div>
</div>
<!--End content whit animation-->
<br><br>
