<div class="row">
    <div class="col-lg-12">

      <div class="ibox-content" style="display: block;">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="m-t-none m-b"><b>Cliente:</b> <%= @client.name %> <%= @client.lastname %></h3>
            <div class="table-responsive">
              <table class="table">
                  <tr>
                    <td><b><i class="fa fa-key"></i> Identificador:</b></td>
                    <td><b><i class="fa fa-phone"></i> Teléfono:</b></td>
                    <td><b><i class="fa fa-home"></i> Ubicación:</b></td>
                    <td><b><i class="fa fa-calendar-o"></i> Creado el:</b></td>
                  </tr>
                  <tr>
                    <td><%= @client.hash_id %></td>
                    <td>(<%=@client_city.lada%>) <%= @client.telephone %></td>
                    <td><%= @client_city.name %>, <%= @client_city.State.name %></td>
                    <td><%= l(@client.created_at, format: :long) %></td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
</div><br/>
