<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
        Escribe un mensaje
    </h4>
  </div>

  <div class="panel-body">
    <%= form_tag(create_message_url, remote: true) do %>
      <%= text_area_tag :comment, nil, class: "form-control form-control-black", 
        maxlength: 250, onkeypress: 'return submitOnEnter(event);' %><br>
      <%= submit_tag :Enviar, class: "btn btn-custom-1 pull-right",
        id: 'new-message-submit' %>
    <% end %>
  </div>
</div>

<div id="messages-container">
  <% messages.each do |message| %>
    <%= render partial: '/shared/message', locals: {message: message} %>
  <% end #messages.each# %>
</div>

<div class="row">
  <div class="col-md-12">
     <div class="pull-right">
       <%= will_paginate @messages, renderer: BootstrapPagination::Rails %>
     </div>
   </div>
</div>

<style media="screen">
  .text-area{
    border: solid 1px #888;
    padding: 5px;
    margin-bottom: 10px;
  }
</style>

<script type="text/javascript">
function submitOnEnter(event){
  var charCode = (event.which) ? event.which : event.keyCode;
  if (charCode != 13)
    return true;

  $(`#new-message-submit`).click();
  return false;
}
</script>
