<div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-content" style="display: block;">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="m-t-none m-b"><b>Almacén:</b> <%= @warehouse.name %></h3>
                <div class="table-responsive">
                  <table class="table">
                      <tr>
                        <td><b><i class="fa fa-key"></i> Identificador:</b></td>
                        <td><b><i class="fa fa-phone"></i> Teléfono:</b></td>
                        <td><b><i class="fa fa-home"></i> Dirección:</b></td>
                        <td><b><i class="fa fa-calendar-o"></i> Fecha de creación:</b></td>
                      </tr>
                      <tr>
                        <td><%= @warehouse.hash_id %></td>
                        <td><%= @warehouse.telephone %></td>
                        <td><%= @warehouse.address %></td>
                        <td><%= l(@warehouse.created_at, format: :long) %></td>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div><!--<br>-->
