<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Datos del Tip o Receta</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </div>
      </div>

      <div class="ibox-content">
        <%= form_for([:admin, @tip], :html => {class: 'form-horizontal'}) do |f| %>
          <%= render :partial=>'/shared/error_messages', locals:{entity: @tip} %>
          <div class="form-group">
            <label class="col-sm-2 control-label"><%= f.label :title, "Título" %></label>
            <div class="col-sm-10">
              <%= f.text_field :title, { class: 'form-control', maxlength: 50, required: true } %>
              <span class="help-block m-b-none">Máximo 50 caracteres.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= f.label :description, "Descripción" %></label>
            <div class="col-sm-10">
              <%= f.text_area :body, class: "form-control summernote" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= f.label :video, "Incluir Video de Youtube" %></label>
            <div class="col-sm-10">
              <%= f.text_field :video, class: 'form-control',
                placeholder: 'youtube.com/watch?v=6A83BS718GS', maxlength: 50 %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
              <% if @tip.video.present? %>
                <%= render partial: '/shared/embed_video', locals: {url: @tip.video} %>
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= f.label :image, "Cargar imagen (El video tiene preferencia)" %></label>
            <div class="col-sm-10">
              <%= f.file_field :image, :multiple => false %>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
              <% if @tip.image.present? %>
                <%= image_tag @tip.image.url(:thumb), class: 'img-responsive' %>
              <% end %>
            </div>
          </div>

          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <a class="btn btn-white" href="javascript:history.back();">Cancelar</a>
              <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
            </div>
          </div>
        <% end # form_for @tip # %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.summernote').summernote({
    toolbar: [
      ['misc', ['undo', 'redo']],
      ['style', ['style']],
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['insert', ['link']],
      ['view', ['codeview']]
    ],
    placeholder: "Escribe aquí...",
    disableDragAndDrop: true,
    shortcuts: false,
    height: "250px"
  });
});
</script>

<%= stylesheet_link_tag 'summernote', media: 'all' %>
<%= javascript_include_tag 'summernote.min' %>
