<tr>
  <td></td>
  <td class="project-people">
    <% if !tip_recipe.video.blank? %>
      <%= link_to tip_recipe.video, target: "_blank" do %>
        <i class="fa fa-file-video-o fa-3x"></i>
      <% end %>
    <% elsif !tip_recipe.image.blank? %>
      <%= image_tag tip_recipe.image.url(:thumb) %>
    <% else %>
      <b>Sin foto</b>
    <% end %>
  </td>
  <td><%= tip_recipe.title %></td>
  <td><%= tip_recipe.created_at %></td>
  <td>
    <%= link_to edit_admin_tip_recipe_path(tip_recipe.id), class: "btn btn-white btn-sm" do %>
      <i class="fa fa-pencil"></i> Editar
    <% end if @current_user.has_permission?("tips_&_recipes@all") %>

    <%= link_to admin_tip_recipe_path(tip_recipe.id), method: :delete, class: "btn btn-danger btn-sm",
      data: {confirm: "Seguro(a) de eliminar el registro?"} do %>
      <i class="fa fa-trash"></i> Eliminar
    <% end if @current_user.has_permission?("tips_&_recipes@all") %>
  </td>
</tr>
