<% provide(:title, "Almacenes") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Almacenes", labels: ['Almacenes']} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox-content" style="display: block;">
            <div class="row">
              <div class="col-sm-8 b-r margin-bot-resp"><h3 class="m-t-none m-b">Lista de almacenes</h3>
                 <p>Aquí puedes realizar diversas acciones como dar de alta un almacén,
                    modificar, eliminarlo o simplemente ver su información!!! </p>
                 <p>En la búsqueda, separa los parámetros con "," ejemplo: Guadalajara, A0003 </p>

                <%= form_for(:warehouse, url: admin_warehouses_path, method: :get) do |f| %>
    				       <div class="input-group">

                     <% if params[:warehouse] %>
                        <%= f.text_field :search, value: params[:warehouse][:search], :class => "input form-control",  :placeholder => "Buscar almacén...", :maxlength => 50  %>
                     <% else %>
                        <%= f.text_field :search, :class => "input form-control",  :placeholder => "Buscar almacén...", :maxlength => 50  %>
                     <% end %>

                     <span class="input-group-btn">
      		              <%= f.submit "Buscar".html_safe, :class => "btn btn btn-success" %>
      					     </span>
    					     </div>
  			        <% end %>

              </div>
              <div class="hr-line-dashed pro-mobile"></div>
              <% if @actions["CREATE"] %>
                <div class="col-sm-2 text-center" style="border-right: solid #E7EAEC 1px;">
                  <h4>Registrar Nuevo</h4>
                   <%= link_to "<i class='fa fa-cubes med-icon'></i>".html_safe,
                                new_admin_warehouse_path %>
                </div>
              <% end %>
              <div class="hr-line-dashed pro-mobile"></div>
              <% if @actions["BATCH_SEARCH"] %>
                <div class="col-sm-2 text-center"><h4>Búsqueda de lote</h4>
                   <%= link_to "<i class='fa fa-search med-icon'></i>".html_safe,
                                admin_batch_search_path %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div><br>

    <!--Table-->
    <div class="row">
      <%= render partial: "presentation_table" %>
    </div>
    <!--End Table-->

  </div>
</div>
<!--End content whit animation-->
</br></br>
