<% provide(:title, "Reportes de Inventario") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Reportes de Inventario", 
  labels: ["Almacenes", "Reportes de Inventario", "Reporte"], 
  links: [admin_warehouses_path, admin_inventory_reports_path]} %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= render "/shared/warehouse_head_bar" %>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
        	<div class="ibox-content">

            <% worker = @report.Worker %>
            <p><strong>Emitió:</strong> <%= link_to worker.name, admin_site_worker_path(worker) %></p>

            <% product = @report.Product%>
            <p><strong>Producto:</strong> <%= link_to product.name, admin_product_path(product) %></p>

            <%= content_tag :p, "<strong>Lote:</strong> #{@report.batch}".html_safe %>
            <%= content_tag :p, "<strong>Fecha del reporte:</strong> #{l(@report.created_at, format: :long)}".html_safe %>
            <p><strong>Descripción:</strong> <%= @report.description %></p>
            <p><strong>Commentario:</strong> </p>
            <%= content_tag :p, @report.comment %>

        	</div>
        </div>
      </div>

    </div>

  </div>
</div>
