
<tr>
  <td></td>
  <td class="project-people">
    <% if @current_user.has_permission?('distributors@show_personal_data') or
      @current_user.has_permission?('distributors@show_fiscal_data') or
      @current_user.has_permission?('distributors@show_bank_data') or
      @current_user.has_permission?('distributors@show_distribution_regions') or
      @current_user.has_permission?('distributors@show_commission') %>
      <%= link_to admin_distributor_path(distributor) do %>
      <%= image_tag distributor.avatar_url(:mini), { class: "img-circle" } %>
      <% end %>
      <% else %>
      <%= image_tag distributor.avatar_url(:mini), { class: "img-circle" } %>
    <% end %>
  </td>
  <%= content_tag(:td, distributor.hash_id ) %>
  <%= content_tag(:td, distributor.username ) %>
  <%= content_tag(:td, distributor.full_name ) %>
  <%= content_tag(:td, distributor.location ) %>
  <%= content_tag(:td, distributor.telephone_with_lada ) %>
  <td><%= l(distributor.created_at, format: :long) %></td>
  <td><%= l(distributor.updated_at, format: :long) %></td>
  <td style="width: 416px;">

    <% if @current_user.has_permission?('distributors@update_distribution_regions') %>
    <%= link_to "<i class='fa fa-globe'></i> Zonas de distribución".html_safe,
    admin_distributor_regions_path(distributor.hash_id),
    class: "btn btn-white btn-sm m-b-xs" %>
    <% end %>

    <% if @current_user.has_permission?('distributors@update_personal_data') or
      @current_user.has_permission?('distributors@update_fiscal_data') or
      @current_user.has_permission?('distributors@update_bank_data') or
      @current_user.has_permission?('distributors@update_show_address') or
      @current_user.has_permission?('distributors@update_commission') or
      @current_user.has_permission?('distributors@update_photo') %>
        <%= link_to "<i class='fa fa-pencil'></i> Modificar".html_safe,
          edit_admin_distributor_path(distributor.hash_id),
          class: "btn btn-white btn-sm m-b-xs" %>
    <% end %>

    <% if @current_user.has_permission?('distributors@delete') %>
      <%= link_to "<i class='fa fa-trash'></i> Eliminar".html_safe,
        admin_distributor_path(distributor), class: "btn btn-danger btn-sm m-b-xs",
        method: "delete", data: { confirm: "Estas seguro(a) de eliminarlo?" } %>
    <% end %>

    <%= link_to "<i class='fa fa-user'></i> Clientes".html_safe,
    admin_clients_path(distributor: distributor.hash_id),
    class: "btn btn-white btn-sm m-b-xs" %>

    <%= link_to "<i class='fa fa-truck'></i> Órdenes".html_safe,
    admin_orders_path(distributor: distributor.hash_id),
    class: "btn btn-white btn-sm m-b-xs" %>

    <%= link_to "<i class='fa fa-money'></i> Comisiones".html_safe,
    admin_commissions_path(distributor: distributor.hash_id),
    class: "btn btn-white btn-sm m-b-xs" %>
  </td>
</tr>
