<div class="row">
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Datos del distribuidor</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
            <%= form_for [:admin, @distributor], :html => {:id => "distributor_form",
                class: 'form-horizontal'} do |f| %>
            <%= render :partial=>'/shared/error_messages', locals:{entity: @distributor} %>

              <% if @current_user.has_permission?('distributors@update_personal_data') or
                    @current_user.has_permission?('distributors@create') %>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :name, "Código" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :hash_id, class: 'form-control', :disabled => true %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :name, "Nombre" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :name, class: 'form-control', placeholder: "John",
                          required: true, minlength: 2, maxlength: 25, "data-parsley-pattern" => "/^[a-zA-ZÑñáéíóúü\\s\\.']+$/" %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :lastname, "Apellido paterno" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :lastname, class: 'form-control', placeholder: "Black",
                          required: true, minlength: 2, maxlength: 25, "data-parsley-pattern" => "/^[a-zA-ZÑñáéíóúü\\s\\.']+$/" %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :mother_lastname, "Apellido materno" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :mother_lastname, class: 'form-control', placeholder: "Smith",
                          required: true, minlength: 2, maxlength: 25, "data-parsley-pattern" => "/^[a-zA-ZÑñáéíóúü\\s\\.']+$/" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :birthday, "Fecha de nacimiento (yyyy-mm-dd)", class: "col-sm-2 control-label" %>
                  <div class="col-sm-10">
                  	<div class='input-group date' id="datetimepicker">
                  		<%= f.text_field :birthday, class: 'form-control form-control-black',
                  			     required: true, maxlength: 10  %>
                  		<span class="input-group-addon">
                  			<span class="fa fa-calendar"></span>
                  		</span>
                  	</div>
                    <span class="help-text">Debes ser mayor de 18 años.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :username, "Nombre comercial o de usuario" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :username, class: 'form-control', placeholder: "John01",
                          required: true, minlength: 5, maxlength: 25 %>
                    <span class="help-block m-b-none">Mínimo 5 caracteres y máximo 25.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :email, "Correo electrónico" %></label>
                  <div class="col-sm-10">
                    <%= f.email_field :email, class: 'form-control', placeholder: "john@example.com",
                          required: true, maxlength: 50 %>
                  </div>
                </div>

                <% if @distributor.id %>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :email_confirmation, "Confirma tu correo electrónico" %></label>
                    <div class="col-sm-10">
                      <%= f.email_field :email_confirmation, :value => @distributor.email,
                          class: 'form-control form-control-black', placeholder: "john@example.com",
                          required: true, maxlength: 50, "data-parsley-equalto"=>"#distributor_email" %>
                    </div>
                  </div>

                  <div class="form-group <%if @distributor.errors.any?%>has-error<%end%>">
                    <label class="col-sm-2 control-label"><%= f.label :password, "Contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password, placeholder: '********', class: 'form-control',
                            minlength: 6, maxlength: 20 %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :password_confirmation, "Confirma contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password_confirmation, placeholder: '********', class: 'form-control',
                            "data-parsley-equalto" => "#distributor_password" %>
                    </div>
                  </div>

            		<% else %>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :email_confirmation, "Confirma tu correo electrónico" %></label>
                    <div class="col-sm-10">
                      <%= f.email_field :email_confirmation, class: 'form-control form-control-black', placeholder: "john@example.com",
            							required: true, maxlength: 50, "data-parsley-equalto"=>"#distributor_email" %>
                    </div>
                  </div>

                  <div class="form-group <%if @distributor.errors.any?%>has-error<%end%>">
                    <label class="col-sm-2 control-label"><%= f.label :password, "Contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password, placeholder: '********', class: 'form-control',
                            required: true, minlength: 6, maxlength: 20 %>
                      <span class="help-block m-b-none">Mínimo 6 caracteres.</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label"><%= f.label :password_confirmation, "Confirma contraseña" %></label>
                    <div class="col-sm-10">
                      <%= f.password_field :password_confirmation, placeholder: '********', class: 'form-control',
                            required: true, "data-parsley-equalto" => "#distributor_password" %>
                    </div>
                  </div>

            		<% end # if @distributor.id # %>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :telephone, "Teléfono" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :telephone, class: 'form-control',
                          required: true, minlength: 8, maxlength: 20 %>
                    <span class="help-block m-b-none">Mínimo 6 caracteres.</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :cellphone, "Celular" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :cellphone, class: 'form-control',
                          required: true, minlength: 10, maxlength: 25 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :address, "Dirección" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :address, class: 'form-control', placeholder: "calle #0000, col. ejemplo",
                          required: true, maxlength: 150 %>
                  </div>
                </div>

                <%= render :partial => "/shared/select_state", locals: { states: @states } %>
                <%= render :partial => "/shared/select_city", locals: { cities: @cities } %>

                <div class="hr-line-dashed"></div>
              <% end # if @actions["UPDATE_PERSONAL_DATA"] end # %>

              <% if @current_user.has_permission?('distributors@update_fiscal_data') or
                    @current_user.has_permission?('distributors@create')%>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :rfc, "RFC" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :rfc, class: 'form-control', placeholder: "RFC", onkeyup:"this.value = this.value.toUpperCase();",
                          required: true, maxlength: 20 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :fiscal_number, "Nombre Fiscal ó Razón Social" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :fiscal_number, class: 'form-control', onkeyup:"this.value = this.value.toUpperCase();",
                          required: true, maxlength: 100 %>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>
              <% end # if @actions["UPDATE_FISCAL_DATA"] # %>

              <% if @current_user.has_permission?('distributors@update_bank_data') or
                    @current_user.has_permission?('distributors@create')%>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :bank_name, "Nombre del banco al que se depositará" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :bank_name, class: 'form-control', onkeyup:"this.value = this.value.toUpperCase();",
                          required: true, maxlength: 50 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :bank_account_owner, "Beneficiario" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :bank_account_owner, class: 'form-control',
                          required: true, maxlength: 99 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :bank_account_number, "Número de cuenta" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :bank_account_number, class: 'form-control',
                          required: true, minlength: 5, maxlength: 30 %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :interbank_clabe, "CLABE interbancaria" %></label>
                  <div class="col-sm-10">
                    <%= f.text_field :interbank_clabe, class: 'form-control',
                          required: true, minlength: 5, maxlength: 30 %>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>
              <% end # if @actions["UPDATE_BANK_DATA"] # %>

              <% if @current_user.has_permission?('distributors@update_show_address') or
                    @current_user.has_permission?('distributors@create') %>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :show_address, "Mostrar domicilio al público" %></label>
                  <div class="col-sm-10">
                    <%= f.check_box :show_address %>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>
              <% end # if @actions["UPDATE_SHOW_ADDRESS"] # %>

              <% if @current_user.has_permission?('distributors@update_commission') or
                    @current_user.has_permission?('distributors@create') %>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :commission, "Porcentaje de comisión" %></label>
                  <div class="col-sm-10">
                    <%= f.number_field :commission, class: "input form-control", placeholder: "8.0 (sin signo de porcentaje %)",
                          required: true, min: 1, max: 99, step: 0.01 %>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>
              <% end # if @actions["UPDATE_PHOTO"] # %>

              <% if @current_user.has_permission?('distributors@update_photo') or
                    @current_user.has_permission?('distributors@create') %>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><%= f.label :photo, "Subir foto" %></label>
                  <div class="col-sm-10">
                    <%= f.file_field :photo, :multiple => false %>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>
              <% end # if @actions["UPDATE_PHOTO"] # %>

              <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                      <a class="btn btn-white" href="javascript:history.back();">Cancelar</a>
                      <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
                  </div>
              </div>

            <% end %>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    // Init parsley to validate the formularie
  	$('#distributor_form').parsley();

    telephone = $("#distributor_telephone");
    cellphone = $("#distributor_cellphone");

    if(telephone.val() != ""){
			cellphone.removeAttr('required');
		}else if (cellphone.val() != "") {
			telephone.removeAttr('required');
		}

    telephone.on('change', function(){
      console.log("telephone");
      telephone.attr('required', true);
      cellphone.removeAttr('required')
      if (telephone.val() == ""){
        cellphone.attr('required', true)
      }
    });

    cellphone.on('change', function(){
      console.log("cellphone");
      cellphone.attr('required', true);
      telephone.removeAttr('required')
      if (cellphone.val() == ""){
        telephone.attr('required', true)
      }
    });

    <% max_date = l(18.years.ago, :format => :form_date) %>
    $('#datetimepicker').datetimepicker({
        locale: 'es',
        format: 'YYYY-MM-DD',
        defaultDate: "<%= max_date %>",
        viewMode: 'years',
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-arrows',
            clear: 'fa fa-times'
        }
    });

    $('#datetimepicker').data("DateTimePicker").maxDate("<%= max_date %>");
  });
</script>

<%= stylesheet_link_tag 'bootstrap-datetimepicker.min', media: 'all' %>
<%= javascript_include_tag 'bootstrap-datetimepicker-custom' %>
<%= javascript_include_tag 'parsley-custom' %>
