<% provide(:title, "Candidatos") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Candidatos", 
  labels: ["Distribuidores", "Candidatos"], links: [admin_distributors_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="ibox">
      <div class="ibox-content text-center">
        <h3 class="m-b-xxs">Lista de candidatos</h3>
        <small>Aquí verás la lista de todos los interesados en ser distribuidores.</small>
      </div>
    </div>

    <!--Table-->
    <div class="ibox">
      <div class="ibox-content">

        <div class="row m-b-sm m-t-sm">
          <div class="col-md-10">
            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar en tabla">
          </div>
          <div class="col-md-2">
            <a href="javascript:window.location.href=window.location.href" class="btn btn-white btn-sm full-width">
              <i class="fa fa-refresh"></i> Actualizar
            </a>
          </div>
        </div>
        <!--<div class="table-responsive">-->
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15" data-filter=#filter>
          <thead>
            <tr>
              <th>Nombre del candidato</th>
              <th>Correo</th>
              <th>Teléfono</th>
              <th>Celular</th>
              <th>Ubicación</th>
              <th>Fecha de solicitud</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @candidates.each do |candidate| %>
            <tr>
              <%= content_tag :td, candidate.getFullName %>
              <%= content_tag :td, candidate.email %>
              <%= content_tag :td, candidate.telephone %>
              <%= content_tag :td, candidate.cellphone %>
              <%= content_tag :td, candidate.getLocation %>
              <td><%= l(candidate.created_at, format: :long) %></td>
              <td>
                <% if candidate.read %>
                  <i class="fa fa-check-circle-o fa-3x" style="color: #1d9d74"></i>
                <% else %>
                  <a class="btn btn-white btn-sm" onclick="showForm(<%= candidate.id %>)">Responder</a>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <div class="pull-right">
                  <%= will_paginate @candidates, renderer: BootstrapPagination::Rails %>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  <br>
  <!--End Table-->

</div>
</div>
<br>
<!--End content whit animation-->

<%= render "shared/modal" %>

<script type="text/javascript">
function showForm(candidate_id){
  modal = $("#modal");

  title = modal.find(".modal-title");
  title.html("Respuesta al candidato");

  body = modal.find(".modal-body");
  body.html("<%= j render "candidate_answer_form" %>");
  $("#candidate_id").val(candidate_id);
  $("#answer-candidate-form");

  $("#modal").modal("show");

  url = "<%= admin_answer_candidate_path("x0x") %>";
  url = url.replace("x0x", candidate_id);

  $("#modal form")[0].action = url;
}
</script>

<script>
$(document).ready(function() {
  $(".footable").footable();
});
</script>
