<% provide(:title, "Candidatos") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Candidatos", labels: ['Distribuidores', 'Candidatos'], links: [admin_distributors_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="ibox">
      <div class="ibox-content text-center">
        <h3 class="m-b-xxs">Lista de candidatos</h3>
        <small>Aquí verás la lista de todos los interesados en ser distribuidores.</small>
      </div>
    </div>

    <!--Table-->
    <div class="ibox">
      <div class="ibox-content">

        <div class="row m-b-sm m-t-sm">
          <div class="col-md-10">
            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar en tabla">
          </div>
          <div class="col-md-2">
            <a href="javascript:window.location.href=window.location.href" class="btn btn-white btn-sm full-width">
              <i class="fa fa-refresh"></i> Actualizar
            </a>
          </div>
        </div>
        <!--<div class="table-responsive">-->
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15" data-filter=#filter>
          <thead>
            <tr>
              <th>Nombre del candidato</th>
              <th>Fecha de solicitud</th>
              <th>Status</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @candidates.each do |candidate| %>
            <tr>
              <td><%= candidate.getFullName %></td>
              <td><%= l(candidate.created_at, format: :long) %></td>
              <td>
                <% if !candidate.read %>
                <span id="<%=candidate.id%>" class="label label-primary"> Nuevo </span>
                <% else %>
                <span id="<%=candidate.id%>" class="label label-default"> Visto </span>
                <% end %>
              </td>
              <td>
                <a onclick="showDetails('<%=candidate.id%>','<%=candidate.getFullName%>','<%=candidate.email%>',
                  '<%=candidate.telephone%>','<%=candidate.cellphone%>','<%=candidate.getLocation%>')"
                  class="btn btn-white btn-sm">
                  Mostrar detalles
                </a>
              </td>
            </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <div class="pull-right">
                  <%= will_paginate @candidates, renderer: BootstrapPagination::Rails %>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </br>
  <!--End Table-->

</div>
</div>
<br>
<!--End content whit animation-->

<%= render "shared/modal" %>

<%= link_to "candidate_seen", "#", remote: true, id: :candidate_seen_link, method: :post, style: "display: none;" %>
<script type="text/javascript">
function showDetails(new_button, fullname, email, telephone, cellphone, location){
  modal = $("#modal");

  title = modal.find(".modal-title");
  title.html(fullname);

  body = modal.find(".modal-body");
  body.html("<p><b>Nombre:</b> "+fullname+"</p><p><b>Correo electrónico:</b> "+email+"</p>"+
  "<p><b>Teléfono:</b> "+telephone+"</p><p><b>Celular:</b> "+cellphone+"</p>"+
  "<p><b>Ubicación:</b> "+location+"</p>");

  $("#modal").modal("show");
  $("#"+new_button).remove();

  url = "<%=admin_update_candidate_path('x0x')%>";
  url = url.replace("x0x", new_button);
  $("#candidate_seen_link").attr('href', url);
  $("#candidate_seen_link").click();
}
</script>

<script>
$(document).ready(function() {
  $('.footable').footable();
});
</script>
