<% provide(:title, "Distribuidores") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Perfil del distribuidor", 
  labels: ["Distribuidores", "Perfil del distribuidor"], links: [admin_distributors_path]} %>

<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="row">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalles del perfil</h5>
                </div>
                <div class="ibox-content no-padding border-left-right">
                  <%= image_tag(@distributor.avatar_url, class: "img-responsive full-width") %>
                </div>
                <div class="ibox-content profile-content">
                    <%= content_tag(:h4, @distributor.full_name) %>
                </div>
            </div>
        </div>


        <div class="col-md-8">
          <% if @current_user.has_permission?("distributors@show_personal_data") %>
            <!--Datos del distribuidor-->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Información del distribuidor</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table">
                          <tr>
                              <td><b>Clave:</b></td>
                              <td><%= @distributor.hash_id %></td>
                              <td><b>Fecha nacimiento:</b></td>
                              <td><%= l(@distributor.birthday, format: :long) if @distributor.birthday %></td>
                          </tr>
                          <tr>
                              <td><b>Nombre:</b></td>
                              <td><%= @distributor.full_name %></td>
                              <td><b>Nombre comercial o de usuario:</b></td>
                              <td><%= @distributor.username %></td>
                          </tr>
                          <tr>
                              <td><b>Ubicación:</b></td>
                              <td><%= @distributor.location %></td>
                              <td><b>Dirección:</b></td>
                              <td><%= @distributor.address %></td>
                          </tr>
                          <tr>
                              <td><b>Teléfono:</b></td>
                              <td><%= @distributor.telephone_with_lada %></td>
                              <td><b>Celular:</b></td>
                              <td><%= @distributor.cellphone %></td>
                          </tr>
                          <tr>
                            <td><b>Fecha de creación:</b></td>
                            <td><%= l(@distributor.created_at, format: :long) %></td>
                            <td><b>Última modificación:</b></td>
                            <td><%= l(@distributor.updated_at, format: :long) %></td>
                          </tr>
                          <tr>
                            <td><b>Email:</b></td>
                              <td><%= @distributor.email %></td>
                            <% if @current_user.has_permission?("distributors@show_commission") %>
                              <td><strong>Comisión:</strong></td>
                              <td><%= @distributor.commission %>%</td>
                            <% end %>
                          </tr>
                        </table>
                    </div>
                </div>
            </div>
          <% end # if @actions["SHOW_PERSONAL_DATA"] end #%>

          <% if @current_user.has_permission?("distributors@show_fiscal_data") %>
            <!-- Fiscal Data -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Información Fiscal</h5>
                    <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                </div>
                <div class="ibox-content">
                  <p>RFC: <%= @distributor.rfc %></p>
                  <p>Nombre Fiscal ó Razón Social: <%= @distributor.fiscal_number %></p>
                </div>
            </div>
          <% end %>

          <% if @current_user.has_permission?("distributors@show_bank_data") %>
            <!-- Fiscal Data -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Información Bancaria</h5>
                    <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                </div>
                <div class="ibox-content">
                  <p>Nombre del banco: <%= @distributor.bank_name %></p>
                  <p>Beneficiario: <%= @distributor.bank_account_owner %></p>
                  <p>Número de cuenta: <%= @distributor.bank_account_number %></p>
                  <p>CLABE interbancaria: <%= @distributor.interbank_clabe %></p>
                </div>
            </div>
          <% end %>

          <% if @current_user.has_permission?("distributors@show_distribution_regions") %>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Zonas de distribución</h5>
                    <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                </div>
                <div class="ibox-content">
                  <% @regions.each do |city| %>
                    <%= link_to "https://maps.google.com.mx/maps/search/#{city.name}", { target: "_blank" } do %>
                      <span class="badge badge-info f-size-13"><%=city.name%></span>
                    <% end %>
                  <% end %>
                </div>
            </div>
        </div>
      <% end %>

    </div>
  </div>
</div><br>
