<div class="col-lg-12">
  <div class="ibox">
  	<div class="ibox-content">

  			<div class="row m-b-sm m-t-sm">
          <div class="col-md-10">
            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar en tabla">
          </div>
  				<div class="col-md-2">
  					<%= link_to(distributor_clients_path, class: "btn btn-white btn-sm full-width") do %>
  						<i class="fa fa-refresh"></i> Actualizar
  					<% end %>
  				</div>
  			</div>

  			<table class="footable table table-stripped  toggle-arrow-tiny" data-filter=#filter>
  					<thead>
    					<tr>
                  <th data-sort-ignore="true"></th>
    					    <th data-hide="phone" data-sort-ignore="true"></th>
    					    <th data-hide="phone">Nombre</th>
    					    <th>Correo electrónico</th>
    					    <th data-hide="phone">Ubicación</th>
    					    <th data-hide="all">Teléfono</th>
                  <th data-hide="phone">Acciones</th>
                  <th data-hide="all">Última revisión</th>
                  <th data-hide="all">Última visita</th>
    					</tr>
  					</thead>
  					<tbody>
  					<% @clients.each do |c| %>
  					  <tr>
                <td></td>
    						<td class="project-people">
                  <%= link_to distributor_client_path(c.hash_id) do %>
                    <% if !c.photo.blank? %>
                        <%= image_tag(c.photo.url(:mini), { class: "img-circle" }) %>
                    <% else %>
                        <%= image_tag("user_avatar.png", { class: "img-circle" }) %>
                    <% end %>
                  <% end %>
    						</td>
    						<td>
                  <%= c.name %>
                  <% if c.is_new %><br>
                    <label class="label label-primary"> Nuevo </label>
                  <% end %>
                </td>
    						<td><%= c.email %></td>
    						<td><%= c.City.name %>, <%= c.City.State.name %></td>
    						<td>(<%=c.City.lada%>) <%= c.telephone %></td>
                <td>
                  <%= link_to distributor_client_prices_path(c.hash_id),
                    class: "btn btn-white btn-sm m-b-xs hidden-button" do %>
                    <i class="fa fa-pencil"></i> Precios
                  <% end %>

                  <%= link_to distributor_orders_path(client: c.hash_id),
                    class: "btn btn-white btn-sm m-b-xs hidden-button" do %>
                    <i class="fa fa-truck"></i> Órdenes
                  <% end %>

                  <%= link_to distributor_client_visits_path(c.hash_id),
                    class: "btn btn-white btn-sm m-b-xs hidden-button" do %>
                    <i class="fa fa-calendar"></i> Visitas
                  <% end %>

                  <%= link_to distributor_client_messages_path(c.hash_id),
                    class: "btn btn-white btn-sm m-b-xs hidden-button" do %>
                    <i class="fa fa-envelope-o"></i> Mensajes
                  <% end %>
                </td>
                <td><%= c.last_distributor_revision %></td>
                <td><%= c.last_distributor_visit %></td>
  					  </tr>
  					<% end %>
  					</tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <div class="pull-right">
                    <%= will_paginate @clients, renderer: BootstrapPagination::Rails %>
                  </div>
                </td>
              </tr>
            </tfoot>
  			</table>

        <script>
            $(document).ready(function() {
                $(".footable").footable();
            });
        </script>

  	</div>
  </div>
</div>
