<div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag @distributor.avatar_url() %>
    </div><br>
    <div class="col-md-8">
      <!--Datos del distribuidor-->
      <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th colspan="4"><%= @distributor.username %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Nombre:</strong></td>
                <td colspan="3"><%= @distributor.name %> <%= @distributor.lastname %> <%= @distributor.mother_lastname %></td>
              </tr>
              <% distributor_city = @distributor.City %>
              <% if (@distributor_is_a_worker == false and @distributor.show_address) or
                    @distributor_is_a_worker == true %>
                <tr>
                  <td><strong>Ubicación:</strong></td>
                  <td><%= distributor_city.name %>, <%= distributor_city.State.name %></td>

                  <td><strong>Dirección:</strong></td>
                  <td><%= @distributor.address %></td>
                </tr>
              <% end %>
              <tr>
                <td><strong>Teléfono:</strong></td>
                <td>(<%= distributor_city.lada %>) <%= @distributor.telephone %></td>
                <td><strong>Celular:</strong></td>
                <td><%= @distributor.cellphone %></td>
              </tr>
              <tr>
                <td><strong>Email:</strong></td>
                <td><%= @distributor.email %></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
