<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <center>
        <%= image_tag User.getImage(@worker), {:class => "img-responsive full-width"} %>
      </center>
    </div>
    </br>
    <div class="col-md-8">
      <!--Datos del distribuidor-->
      <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th colspan="4"><%= @worker.username %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Nombre:</b></td>
                <td colspan="3"><%= @worker.name %> <%= @worker.lastname %> <%= @worker.mother_lastname %></td>
              </tr>
              <tr>
                <td><b>Ubicación:</b></td>
                <% worker_city = @worker.City %>
                <td><%= worker_city.name %>, <%= worker_city.State.name %></td>
              </tr>
              <tr>
                <td><b>Teléfono:</b></td>
                <td>(<%= worker_city.LADA %>) <%= @worker.telephone %></td>
                <td><b>Celular:</b></td>
                <td><%= @worker.cellphone %></td>
              </tr>
              <tr>
                <td><b>Email:</b></td>
                <td><%= @worker.email %></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
