<tr>
  <td></td>
  <td class="project-people">
    <% @photos.each do |photo| %>
      <% next unless photo.product_id == product.id %>

      <% if @current_user.has_permission?('products@show') %>
        <%= link_to admin_product_path(product.hash_id) do %>
        <%= image_tag(photo.photo.url(:mini), class: "img-circle") %>
        <% end %>
      <% else %>
        <%= image_tag(photo.photo.url(:mini), class: "img-circle") %>
      <% end %>
      <% break %>
    <% end %>
  </td>

  <td><%= product.hash_id %></td>
  <td><%= product.name %></td>
  <td>
    <p>max: $ <%= product.price %></p>
    <p>rec: $ <%= product.recommended_price %></p>
    <p>min: $ <%= product.lowest_price %></p>
  </td>
  <td><%= l(product.created_at, format: :long) %></td>
  <td><%= l(product.updated_at, format: :long) %></td>
  <td>
    <% if product.show %>
    <span class="label label-primary">Publicado</span>
    <% else %>
    <span class="label label-danger">Sin Publicar</span>
    <% end %>
  </td>
  <td class="table-butt">
    <% if @current_user.has_permission?('products@update_name') or
          @current_user.has_permission?('products@update_product_data') or
          @current_user.has_permission?('products@update_price') or
          @current_user.has_permission?('products@update_show_in_web_page') %>
      <%= link_to "<i class='fa fa-pencil'></i> Modificar".html_safe,
        edit_admin_product_path(product), class: "btn btn-white btn-sm hidden-button" %>
    <% end %>
    <% if @current_user.has_permission?('products@delete') %>
      <%= link_to "<i class='fa fa-trash'></i> Eliminar".html_safe,
        admin_product_path(product), class: "btn btn-danger btn-sm hidden-button",
        method: "delete", data: { confirm: "Estas seguro(a) de eliminarlo?" } %>
    <% end %>
  </td>
</tr>
