<% provide(:title, "Productos") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Datos del producto", labels: 
  ["Productos", "Datos del producto"], links: [admin_products_path]} %>

<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="row">

      <div class="col-md-4">

        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Detalles del producto</h5>
          </div>
          <div class="ibox-content no-padding border-left-right">
            <% @photos.each do |p| %>
            <% next unless p.is_principal %>
            <%= image_tag(p.photo.url(:thumb), { class: "img-responsive full-width" }) %>
            <% break %>
            <% end %>
          </div>
          <div class="ibox-content profile-content">
            <h4><strong><%= @product.name %></strong></h4>
            <table>
              <tr>
                <td class="table-padd"><strong>Identificador:</strong></td>
                <td><%= @product.hash_id %></td>
              </tr>
            </table><br>
          </div>
        </div>

      </div>


      <div class="col-md-8">
        <!--Datos del producto-->
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Información producto</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td><strong>Clave:</strong></td>
                  <td><%= @product.hash_id %></td>
                  <td><strong>Nombre:</strong></td>
                  <td><%= @product.name %></td>
                </tr>
                <tr>
                  <td><strong>Precio del producto:</strong></td>
                  <td>$ <%= @product.price %></td>
                  <td><strong>Precio recomendado:</strong></td>
                  <td>$ <%= @product.recommended_price %></td>
                </tr>
                <tr>
                  <td><strong>Precio mínimo:</strong></td>
                  <td>$ <%= @product.lowest_price %></td>
                  <td><strong>Costo de envío (por menudeo):</strong></td>
                  <td>$ <%= @product.shipping_cost %></td>
                </tr>
                <tr>
                  <td><strong>Fecha de creación:</strong></td>
                  <td><%= l(@product.updated_at, format: :long) %></td>
                  <td><strong>Última modificación:</strong></td>
                  <td><%= l(@product.created_at, format: :long) %></td>
                </tr>
                <tr>
                  <td><strong>Presentación:</strong></td>
                  <td><%= @product.presentation %></td>
                  <td><strong>Publicación:</strong></td>
                  <td><% if @product.show %>
                    <span class="label label-primary">Publicado</span>
                    <% else %>
                    <span class="label label-danger">Sin Publicar</span>
                    <% end %></td>
                  </tr>
                  <tr>
                    <td><strong>Descripción:</strong></td>
                  </tr>
                  <tr>
                    <td colspan="4"><%= render @product.description_render_path %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!--Datos del producto-->
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Preparación del producto</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <%= render @product.preparation_render_path %>
            </div>
          </div>
          <!--Categorías del producto-->
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Categorías</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content no-padding">
              <ul class="list-group">
                <li class="list-group-item">
                  <% if @product.hot %>
                  <span class="badge badge-primary"><i class="fa fa-check"></i></span>
                  <% else %>
                  <span class="badge badge-danger"><i class="fa fa-close"></i></span>
                  <% end %>
                  Caliente
                </li>
                <li class="list-group-item ">
                  <% if @product.cold %>
                  <span class="badge badge-primary"><i class="fa fa-check"></i></span>
                  <% else %>
                  <span class="badge badge-danger"><i class="fa fa-close"></i></span>
                  <% end %>
                  Helado
                </li>
                <li class="list-group-item">
                  <% if @product.frappe %>
                  <span class="badge badge-primary"><i class="fa fa-check"></i></span>
                  <% else %>
                  <span class="badge badge-danger"><i class="fa fa-close"></i></span>
                  <% end %>
                  Frappé
                </li>
              </ul>
            </div>
          </div>
          <!--Fotos del producto-->
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Fotos del producto</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <% @photos.each do |p| %>
              <%= image_tag(p.photo.url(:mini), { class: "img-thumbnail photo-gallery" }) %>
              <% end %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div><br>
