<div class="col-lg-12">
   <div class="ibox">
      <div class="ibox-content">

           <div class="row m-b-sm m-t-sm">
               <div class="col-md-10">
                 <input type="text" class="form-control input-sm m-b-xs" id="filter" maxlength="25" placeholder="Buscar en tabla">
               </div>
               <div class="col-md-2">
                  <%= link_to(admin_warehouse_parcels_path(params[:id]), class: "btn btn-white btn-sm") do %>
                    <i class="fa fa-refresh"></i> Actualizar
                  <% end %>
               </div>
           </div>

           <table class="footable table table-stripped  toggle-arrow-tiny" data-filter=#filter>
                   <thead>
                     <tr>
                         <th>Imagen</th>
                         <th>Nombre</th>
                         <th>Costo</th>
                         <th>Fecha de creación</th>
                         <th>Última modificación</th>
                         <th data-sort-ignore="true">Acción</th>
                     </tr>
                   </thead>
                   <tbody>

                     <% @parcels.each do |p| %>
                       <tr>
                           <td>
                             <% if !p.image.blank? %>
                                <%= image_tag(p.image.url(:mini)) %>
                             <% else %>
                                <%= image_tag("user_avatar.png") %>
                             <% end %>
                           </td>
                           <td><%= p.parcel_name %></td>
                           <td><%= p.cost %></td>
                           <td><%= l(p.created_at, format: :long) %></td>
                           <td><%= l(p.updated_at, format: :long) %></td>
                           <td>
                             <% if @actions["SHOW"] %>
                               <%= link_to "<i class='fa fa-eye'></i> Ver".html_safe, "#", {class: 'btn btn-white btn-sm m-b-xs'} %>
                             <% end %>

                             <% if @actions["UPDATE"] %>
                               <%= link_to "<i class='fa fa-pencil'></i> Modificar".html_safe, admin_warehouse_edit_parcel_path(@warehouse.hash_id, p.id), {class: 'btn btn-white btn-sm m-b-xs'} %>
                             <% end %>

                             <% if @actions["DELETE"] %>
                               <%= link_to "<i class='fa fa-trash'></i> Eliminar".html_safe, admin_warehouse_parcel_path(@warehouse.hash_id, p.id), {class: 'btn btn-danger btn-sm m-b-xs', method: :delete, data:{confirm:"Estas seguro(a) de eliminarla?"}} %>
                             <% end %>
                           </td>
                       </tr>
                     <% end %>

                   </tbody>
           </table>

           <script>
               $(document).ready(function() {
                   $('.footable').footable();
               });
           </script>

      </div>
   </div>
</div>
