<% provide(:title, "Entidades de México") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "México", labels: ['Estados', @state.name], links: [admin_mexico_db_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">

    <div class="ibox">
        <div class="ibox-content text-center">
            <h3 class="m-b-xxs">Configuración del estado de: "<%= @state.name %>"</h3>
            <small>En este apartado puedes realizar un nuevo registro de población con su respectiva LADA y editar uno ya existente.</small>
        </div>
    </div>

    <div class="ibox-content">
      <h2 class="m-b">Te encuentras en el estado de "<%= @state.name %>"</h2>

      <label for="state_id">Poblaciones de <%= @state.name %></label>
      <%= select_tag :city_id, options_from_collection_for_select(
        @cities, "id", "name"), class: "form-control m-b", onchange: "city_selected(this);" %>

      <%= select_tag :current_ladas, options_from_collection_for_select(
        @cities, "id", "lada"), style: "display: none;" %>
      <div class="hr-line-dashed"></div>

      <% if @current_user.has_permission?('mexico_db@update_city_lada') or
            @current_user.has_permission?('mexico_db@update_city_name') %>
        <h3 class="m-b" id="update_city_title">Actualizar la población: "<%= @cities[0].name %>"</h3>
        <%= form_for(:city, url: admin_mexico_city_path(@cities[0].id), method: :put, html: {id: "update_city_form"}) do |f| %>
          <% if @current_user.has_permission?('mexico_db@update_city_name') %>
            <%= f.label :name, "Nombre de la población" %>
            <%= f.text_field :name, { value: @cities[0].name, class: "form-control m-b", maxlength: 50 } %>
          <% end %>

          <% if @current_user.has_permission?('mexico_db@update_city_lada') %>
            <%= f.label :lada, "Registrar LADA de la población" %>
            <%= f.number_field "lada", { value: @cities[0].lada, class: "form-control m-b", min: 0, max: 99999, step: 1} %>
          <% end %>

          <%= f.submit "Modificar", class: "btn btn-primary",
             data: { confirm: "Seguro(a) de modificar la población?" } %>
        <% end # form_for end # %>
        <div class="hr-line-dashed"></div>
      <% end # if @actions["UPDATE_CITY_NAME"] or @actions["UPDATE_CITY_LADA"] # %>

      <% if @current_user.has_permission?('mexico_db@create') %>
        <h3>Aquí puedes crear una nueva población para <%=@state.name%></h3>
        <%= form_for(:new_city, url: admin_create_city_path, method: :post) do |f| %>
           <%= f.hidden_field "state_id", value: @state.id %>

           <%= f.label "name", "Nombre de la población" %>
           <%= f.text_field "name", class: "form-control", maxlength: 50 %>

           <%= f.label "LADA", "LADA de la población" %>
           <%= f.number_field "lada", { class: "form-control", min: 0, max: 99999, step: 1} %>

           <%= f.submit "Crear población", class: "btn btn-primary",
             data: { confirm: "Seguro(a) de crear esta población? Esto no puede deshacerse..." } %>
        <% end # form_for end # %>
      <% end # if @actions["CREATE"] # %>

    </div>
  </div>
</div>

<script type="text/javascript">
  function city_selected(select){
    $("#update_city_title").text("Actualizar la población: " +
                              select.options[select.selectedIndex].textContent);

    $("#city_lada").val($("#current_ladas")[0].options[select.selectedIndex].textContent);
    $("#city_name").val(select.options[select.selectedIndex].textContent);

    new_destination = "<%= admin_mexico_city_path(0) %>";
    new_destination = new_destination.replace("0", select.value);
    $("#update_city_form").attr("action", new_destination);
  }
</script>
