<!--Start Dropdown profile-->
<li class="dropdown yes-mobile">
  <a href="#" class="less_padding" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 14px !important;padding-bottom: 12px !important;">
    <%= image_tag @current_user.avatar_url(:mini),
        style: "margin-right: 5px;width: 25px;border-radius: 4px;" %>
    <%= @current_user.name %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-alerts dropdown-version2" style="margin-top: 1px;text-shadow: none;">
    <li><%= link_to "Editar perfil", edit_client_client_path(@current_user) %></li>
    <li><%= link_to "Editar información fiscal", edit_client_fiscal_datum_path(@current_user) %></li>
    <li role="separator" class="divider" style="margin: 0px;"></li>
    <li><%= link_to "Cerrar sesión", log_out_path, method: "delete" %></li>
    <li role="separator" class="divider" style="margin: 0px;"></li>
    <li><%= link_to "Manual de usuario", root_url + "user-guide.pdf" %></li>
    <li role="separator" class="divider" style="margin: 0px;"></li>
    <li><%= link_to "Dar de baja mi cuenta", client_destroy_account_path(@current_user) %></li>
  </ul>
</li>
<!--End Dropdown profile-->

<li><%= link_to "Productos", products_path, class: 'yes-mobile' %></li>
<li><%= link_to "Tips y Recetas", tips_path, class: 'yes-mobile' %></li>
<li><%= link_to "Distribuidor", client_my_distributor_path, class: 'yes-mobile' %></li>
<li><%= link_to "Órdenes", client_orders_path(@current_user), class: 'yes-mobile' %></li>
