<% if logged_in?
     notifications = @current_user.Notifications
                      .order(created_at: :DESC).limit(5)
   end %>

<!-- Navigation start -->
<!--Check-->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="min-height: 53px;">

  <div class="container">

    <%= link_to image_tag("BBGLogo.png"), root_path, :class => "navbar-brand pull-left" %>

    <div class="navbar-header">

      <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#custom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <% if logged_in? %>
          <!--Ecart-->
          <button type="button" class="navbar-toggle pull-right" style="max-height: 34px;">
            <%= link_to client_ecart_path(@current_user.alph_key) do %>
                <i class="icon-basket-loaded" style="color: #fff;font-size: 20px;"></i>
            <% end %>
            <span class="ecart-badge <%= "badge" if !session[:e_cart].nil? %>"
              style="background-color: #f0ad4e;position: absolute;top: 10px;left: 35px;">
              <%= session[:e_cart].size if !session[:e_cart].nil? %>
            </span>
          </button>

          <!--Start Dropdown notifications-->
          <button type="button" class="navbar-toggle pull-right" style="max-height: 34px;">
             <a class="count-info" data-toggle="dropdown" href="off_canvas_menu.html#">
               <i class="icon-bell" style="color: #fff;font-size: 16px;"></i>
               <% notifications_not_seen_count = @current_user.Notifications.where(:seen => false).size %>
               <% if notifications_not_seen_count > 0 %>
                 <span class="badge" style="background-color: #F44336;position: absolute;top: 10px;left: 28px;">
                   <%= notifications_not_seen_count %>
                 </span>
               <% end # if notifications_not_seen_count > 0 # %>
             </a>
             <ul class="dropdown-menu dropdown-alerts dropdown-version2" style="text-shadow: none;">
               <% notifications.each do |n|%>
                  <li>
                     <a href="<%= n.url %>?notification=<%=n.id%>" style="color: #FEFEFE;">
                      <div style="overflow: auto;">
                        <i class="<%= n.icon %>"></i>
                        <%= n.description %>
                        <% if n.seen %>
                          <i class="fa fa-check" style="color: #8BC34A;"></i>
                        <% end %>
                      </div>
                     </a>
                  </li>
                <% end %>
                <li class="divider" style="margin: 0px;"></li>
                <li>
                  <%= link_to client_notifications_path(@current_user.alph_key), style: 'color: #FEFEFE;' do %>
                    <strong>Ver todas ></strong>
                  <% end %>
                </li>
             </ul>
          </button>
          <!--End Dropdown notifications-->
      <% end %>

    </div>
    <!--Check end-->

    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right text-shadow-black">
        <% if !logged_in?%>
          <li><%= link_to "Quiénes somos", root_path(anchor: 'about') %></li>
          <li><%= link_to "Servicios", root_path(anchor: 'services') %></li>
          <li><%= link_to "Galería", root_path(anchor: 'gallery') %></li>
          <li><%= link_to "Contacto", root_path(anchor: 'contact') %></li>
          <li><%= link_to "Productos", products_path %></li>

          <li><%= link_to "Regístrate", client_sign_up_path %></li>
          <li><%= link_to "Iniciar sesión", log_in_path %></li>
        <% else %>
          <%= render partial: '/shared/clients/desktop_navbar_options.html.erb',
                      locals: {notifications: notifications} %>

          <%= render '/shared/clients/mobile_navbar_options.html.erb' %>
        <% end %>
      </ul>
    </div>

  </div><!-- .container -->

</nav>
<!-- Navigation end -->

<style>
.dropdown a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
</style>
