<% provide(:title, t(params[:name])) %>
<%= render partial: "/shared/admin/header_band", locals: {title: t(params[:name]), 
  labels: ["Web", t(params[:name])], links: [admin_web_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <!--Content-->
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5><%= t(params[:name]) %></h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">

            <%= form_for @web_info, url: admin_web_info_path(params[:name]),
              html: {class: "form-horizontal"}, method: :put do |f| %>

              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.text_area :body, class: "form-control summernote" %>
                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <div class="col-sm-4">
                  <%= link_to "Regresar".html_safe, admin_web_path, class: "btn btn-white" %>
                  <%= f.submit "Guardar", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>

        </div>
      </div>
    </div>

  </div>
</div>
</div>
<!--End content whit animation-->
<br><br>
<style>
  .navbar-default{z-index: 0 !important;}
</style>

<script type="text/javascript">
$(document).ready(function() {
  $(".summernote").summernote({
    toolbar: [
      ["misc", ["undo", "redo"]],
      ["style", ["style"]],
      ["style", ["bold", "italic", "underline", "clear"]],
      ["para", ["ul", "ol", "paragraph"]],
      ["insert", ["link"]],
      ["view", ["codeview"]]
    ],
    placeholder: "Escribe aquí...",
    disableDragAndDrop: true,
    shortcuts: false,
    height: "250px"
  });
});
</script>

<%= stylesheet_link_tag "summernote", media: "all" %>
<%= javascript_include_tag "summernote.min" %>
