<% provide(:title, "Galería") %>
<%= render partial: "/shared/admin/header_band", locals: {title: "Web", labels: ['Web', 'Imágenes'], links: [admin_web_path]} %>

<!--Content whit animation-->
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <!--Content-->
    <div class="row">
      <div class="col-lg-12">

        <!-- Gallery Photos -->
        <div class="ibox float-e-margins">
          <div class="ibox-title">
               <h5>Cambia las imágenes en la galería de productos</h5>
               <div class="ibox-tools">
                   <a class="collapse-link">
                       <i class="fa fa-chevron-up"></i>
                   </a>
               </div>
          </div>
          <div class="ibox-content">

              <% if @photos.any? %>

                <h4> Estas son las imágenes actualmente visibles en la galería </h4>
                <div class="hr-line-dashed"></div>
                <div class="row">
                  <% @photos.each do |photo| %>
                    <div class="col-xs-6 col-md-3 " style="display: inline-block">
                      <%= link_to image_tag(photo.photo.url(:thumb), class: "img-thumbnail photo-gallery"),
                                  image_path(photo.photo.url), :data => {:toggle => "lightbox", :gallery => "home-gallery", :title => "Imagen de la galería" } %>

                        <%= link_to "<button type='button' class='btn btn-danger btn-sm m-t btn-block'><i class='fa fa-trash'></i> Eliminar</button>".html_safe, admin_web_destroy_photo_path(photo.id),
                            method: :delete, data: { confirm: "Estás seguro(a) de eliminar la imágen? esto no se puede deshacer." } %>
                    <div class="hr-line-dashed"></div>
                    </div>
                  <% end %>
                </div>

              <% else %>
                <center>
                  <h1>¡Aún no hay imágenes! sube unas nuevas aquí abajo</h1>
                  <i class="fa fa-arrow-down big-icon"></i>
                </center>
              <% end %>

                <%= form_for @new_photo, url: admin_web_photos_path, html: { method: :post, class: 'form-horizontal' } do |f| %>
                  <div class="form-group">
                    <label class="col-sm-4 control-label"><%= f.label :photos, "Elige las imágenes que deseas subir, pueden ser jpg, jpeg o png." %></label>
                    <div class="col-sm-8"><br>
                        <%= f.file_field :photos, multiple: true %>
                        <%= f.hidden_field :name, value: "GALLERY" %>
                    </div>
                  </div>

                  <div class="hr-line-dashed"></div>

                  <div class="form-group">
                      <div class="col-sm-4">
                          <%= link_to "Regresar".html_safe, admin_web_path, class: "btn btn-white" %>
                          <%= f.submit "Guardar", class: "btn btn-primary" %>
                      </div>
                  </div>

                <% end %>

          </div>

        </div>
        <!-- Gallery Photos -->

        <!--  Photos -->
        <div class="ibox float-e-margins">
          <div class="ibox-title">
             <h5>Cambia la imagen de Inicio de sesión o de la página principal para móviles</h5>
             <div class="ibox-tools">
               <a class="collapse-link">
                 <i class="fa fa-chevron-up"></i>
               </a>
             </div>
          </div>
          <div class="ibox-content">
            <% if @log_in_initial.any? %>
              <h3> Estás son las imágenes que se están usando, diferentes a las de por defecto. </h3>

              <div class="hr-line-dashed"></div>
              <div class="row">
                <% @log_in_initial.each do |photo| %>
                  <div class="col-xs-6 col-md-3 " style="display: inline-block">
                    <%= link_to image_tag(photo.photo.url(:thumb), class: "img-thumbnail photo-gallery"),
                                image_path(photo.photo.url), :data => {:toggle => "lightbox", :gallery => "session-gallery", :title => "Imagenes de inicio de sesión y portada del sitio" } %>
                    <% if photo.name == "LOGIN" %>
                      <label>Inicio de sesión</label>
                    <% elsif photo.name == "INITIAL" %>
                      <label>Página principal</label>
                    <% elsif photo.name == "LANDING_PAGE" %>
                      <label>Landing Page</label>
                    <% else %>
                      <label>Petición de distribuidor</label>
                    <% end %>

                    <%= link_to "<button type='button' class='btn btn-danger btn-sm m-t btn-block'><i class='fa fa-trash'></i> Eliminar</button>".html_safe, admin_web_destroy_photo_path(photo.id),
                        method: :delete, data: { confirm: "Estás seguro(a) de eliminar la imágen? esto no se puede deshacer." } %>
                  <div class="hr-line-dashed"></div>
                  </div>
                <% end %>
              </div>

            <% else %>
              <h3> Se están usando las imágenes por defecto. </h3>
            <% end %>

            <%= form_for @new_photo, url: admin_web_photos_path, html: { method: :post, class: 'form-horizontal', id: "new_web_photo2"} do |f| %>
              <div class="form-group">
                <label class="col-sm-4 control-label"><%= f.label :photo, "Elige la imágen que deseas subir, pueden ser jpg, jpeg o png." %></label>
                <div class="col-sm-8">
                  <%= label_tag(:name_login, "Imagen de inicio de sesión") %>
                  <%= f.radio_button :name, "LOGIN" %><br>
                  <%= label_tag(:name_initial, "Imagen para la página principal en móviles") %>
                  <%= f.radio_button :name, "INITIAL" %><br>
                  <%= label_tag(:name_landpage, "Imagen para Landing Page") %>
                  <%= f.radio_button :name, "LANDING_PAGE" %><br>
                  <%= label_tag(:name_distributor_request, "Imagen para las peticiones de distribuidor") %>
                  <%= f.radio_button :name, "DISTRIBUTOR_REQUEST" %><br>

                  <%= f.file_field :photo %>
                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group">
                  <div class="col-sm-4">
                      <%= link_to "Regresar".html_safe, admin_web_path, class: "btn btn-white" %>
                      <%= f.submit "Guardar", class: "btn btn-primary" %>
                  </div>
              </div>

            <% end %>
          </div>
        </div>
        <!--  Photos -->

      </div>
    </div>

  </div>
</div>
<!--End content whit animation-->
<br><br>
<script>
$(document).ready(function(){
  $('#new_web_photo').submit(function(){
    if($('#web_photo_photos').val().length < 1){
      $("#dismissible_alerts").append("<%= j render partial: '/shared/dismissible_alert', locals: {message_type: :info, message: 'Elige una imagen.'} %>");
      return false;
    }else{
      return true;
    }
  });

  $('#new_web_photo2').submit(function(){
    if($('#web_photo_photo').val().length < 1){
      $("#dismissible_alerts").append("<%= j render partial: '/shared/dismissible_alert', locals: {message_type: :info, message: 'Elige una imagen.'} %>");
      return false;
    }else{
      c=$("#web_photo_name_initial")[0].checked
      c2=$("#web_photo_name_login")[0].checked
      c3=$("#web_photo_name_landpage")[0].checked
      c4=$("#web_photo_name_distributor")[0].checked

      if(c || c2 || c3 || c4){
        return true;
      }else{
        $("#dismissible_alerts").append("<%= j render partial: '/shared/dismissible_alert', locals: {message_type: :info, message: 'Elige el tipo de imagen ya sea para inicio de sesión, portada, etc.'} %>");
        return false;
      }
    }
  });

  // init ekko-lightbox
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
});
</script>

<%= stylesheet_link_tag 'ekko-lightbox.min', media: 'all' %>
<%= javascript_include_tag 'ekko-lightbox.min' %>
