<% @products.each do |p| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <% @photos.each do |photo| %>
          <% if photo.product_id == p.id %>
            <%= link_to image_tag(photo.photo.url(:thumb)), product_path(p.hash_id) %>
            <% break %>
          <% end %>
        <% end %>
        <div class="caption" style="height:100px;">
          <span class="pull-right">
            $<%= p.price %> MXN
          </span>

          <h3><strong><%= p.name %></strong></h3>

          <div class="menu-detail cortar text-left">
            <%= 'Frío /' if p.cold %>
            <%= 'Caliente /' if p.hot %>
            <%= 'Frappé' if p.frappe %>
          </div>
        </div>
    </div>
  </div>
<% end %>
