<% @products.each do |wp| %>
  <% p = wp.Product %>

  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <% @photos.each do |photo| %>
        <% if photo.product_id == p.id %>
          <%= link_to image_tag(photo.photo.url(:thumb)), product_path(wp.hash_id) %>
          <% break %>
        <% end %>
      <% end %>
      <div class="caption">
        <span class="pull-right">
          $<%= p.price %> MXN
        </span>

        <h3><strong><%= p.name %></strong></h3>
        
        <p class="categories">
          <%= image_tag 'hot-drink-black.png' if p.hot %>
          <%= image_tag 'cold-drink-black.png' if p.cold %>
          <%= image_tag 'frappe-black.png' if p.frappe %>
        </p>

        <% if !(wp.existence > 0) %>
          <span class="darklink" style="color: #F44336">Producto Agotado </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
