<% provide(:title, @product.name) %>
<% provide(:keywords, "#{@product.name}, productos, black brocket, blackbrocket,
  chai, frappé, café, comprar, en línea, polvo para preparar") %>
<% provide(:meta_description, "#{@product.name} de Black Brocket") %>

<div class="show-tips-container">
  <h1 class="module-title long-up-2x">
    <%= link_to(products_path, class: "darklink") do %>
      <small><span class="icon-arrow-left"></span></small>
    <% end %>
    <%= @product.name %></h1>
  <div class="row divider-row-top">
    <div class="col-sm-6 text-center">
      <div class="thumbnail" style="border: 0;">
        <% @photos.each do |photo| %>
          <% if photo.is_principal %>
            <%= link_to image_tag(photo.photo.url(:thumb), style: "max-height: 350px; max-width: 350px;margin-bottom:10px;"),
              image_path(photo.photo.url), data: {toggle: "lightbox", gallery: "products", title: @product.name } %>
            <% break %>
          <% end %>
        <% end %>

        <% @photos.each do |photo| %>
          <% if !photo.is_principal %>
            <%= link_to image_tag(photo.photo.url(:mini), class: "img-thumbnail photo-gallery",
              style:"heigth: 90px; width: 90px; display: inline-block; margin-right:5px;"),
              image_path(photo.photo.url), data: {toggle: "lightbox", gallery: "products", title: @product.name } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">

      <% unless logged_in? and session[:user_type] == 'c' %>
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= link_to 'Regístrate', client_sign_up_path %> o
          <%= link_to 'Inicia sesión', log_in_path %> <br>
          Para comprar nuestros productos necesitas registrarte, mientras tanto siéntete libre de explorar nuestros artículos.
        </div>
      <% end %>

      <div class="caption-full">
        <table class="table borderless" style="width: initial;">
          <tbody>

            <%= render "add_to_cart" if logged_in? and session[:user_type] == 'c' and @warehouse_product.existence > 0 %>

            <tr>
              <td><b>Nombre:</b></td>
              <td colspan="2"><%= @product.name %></td>
            </tr>
            <tr>
              <td><b>Clave:</b></td>
              <td><%= @product.hash_id %></td>
              <td></td>
            </tr>
            <% if logged_in? and session[:user_type] == 'c' %>
              <tr>
                <td>
                  <% if @warehouse_product.existence > 0
                       var = 'Disponible'
                     else
                       var = '<span style="color: #F44336;">Agotado</span>'
                     end %>
                  <p><b>Existencia:</b></p>
                </td>
                <td colspan="2"><%= var.html_safe %></td>
              </tr>
            <% end # if logged_in? and session[:user_type] == 'c' # %>
            <tr>
              <td><b>Categorías:</b></td>
              <td colspan="2">
                <% var = ''
                  if @product.cold
                    var += 'Frío /'
                  end
                  if @product.hot
                    var += 'Caliente /'
                  end
                  if @product.frappe
                    var += 'Frappé /'
                  end
                  if @product.cold == false && @product.hot == false && @product.frappe == false
                    var += 'Sin especificar'
                  end %>
                <span><%= var %></span>
              </td>
            </tr>
            <tr>
              <td><b>Presentación:</b></td>
              <td colspan="2"><%= @product.presentation %></td>
            </tr>
            <tr>
              <td><b>Precio:</b></td>
              <% if @product_price.present?
                  price = Product.priceFor(@warehouse_product, @product_price, @offers)
                 else
                  price = @product.price
                 end %>
              <td colspan="2">$ <span class="money_format"><%= price %></span> MXN

              <% if @offers %>
                <% sp = WebOffer.specialOfferFor(@product.id, @offers) %>
                <%= content_tag :span, "incluye #{sp['discount']}% desc",
                  style: "color: #f44336; font-size: 12px;" if sp %>
              <% end %>
            </tr>
            <tr>
              <td colspan="3"><b>Descripción:</b></td>
            </tr>
            <tr>
              <td colspan="3">
                <%= render @product.description_render_path %>
                
                <% unless logged_in? %>
                  <br><br>
                  <%= link_to "Inicia sesión", log_in_path, class: "btn btn-custom-1" %>

                  <%= link_to 'Regístrate ahora!', client_sign_up_path, class: 'btn btn-custom-1', 
                    onclick: "gtag_report_conversion('#{client_sign_up_url}')" %>
                <% end %>  
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>

  <% if !@product.video.blank? %>
    <div class="row divider-row-top">
      <div class="col-md-12">
        <br>
        <h3 class="module-subtitle prep-font"><i class="icon-book-open menu-icon"></i> ~ Formas de preparación</h3>
        <br>
      </div>
      <div class="col-sm-12">
        <%= render partial: '/shared/embed_video', locals: {url: @product.video} %>
      </div>
      <div class="col-sm-12">
        <%= render @product.preparation_render_path %>
      </div>
    </div><br>
  <% else %>
    <div class="row divider-row-top">
      <div class="col-md-12">
        <br>
        <h3 class="module-subtitle prep-font"><i class="icon-book-open menu-icon"></i> ~ Formas de preparación</h3>
        <br>
      </div>
      <div class="col-sm-12">
        <%= render @product.preparation_render_path %>
      </div>
    </div><br>
  <% end %>

  <% if logged_in? and session[:user_type] == 'c' %>
  <div class="row divider-row-top">
    <div class="col-sm-12">
        <div class="iconbox">
    			<div class="iconbox-body equal-height text-left" style="padding:20px;">
    				<div class="iconbox-text">
              <%= render partial: "question_form", locals: { prod_id: @product.hash_id } %>
              <div class="col-md-12" id="questions">
                <% @questions.each do |q| %>
                  <%= render partial: "question", locals: { question: q } %>
                <% end %>
              </div>
              <div class="clearfix"></div>
    				</div>
    			</div>
    		</div><br>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="devider m-b-xxl">
        <%= image_tag("divider-down.svg") %>
      </div>
    </div>
</div>

<style>
  div.alert.alert-warning a{
    color: #4595E3;
  }
  div.alert.alert-warning a:hover,
  div.alert.alert-warning a:focus,
  div.alert.alert-warning a:active{
    color: #2373C1;
  }
</style>

<script>
  // init ekko-lightbox
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });

  function update_quantity(quantity) {
    var _href = $(".add-to-cart").attr('href');
    new_url = _href.replace(/quantity=[^&]+/, 'quantity=' + quantity);
    $(".add-to-cart").attr('href', new_url);

    var _href = $(".add-to-cart-n-go").attr('href');
    new_url = _href.replace(/quantity=[^&]+/, 'quantity=' + quantity);
    $(".add-to-cart-n-go").attr('href', new_url);
  }

  function money_format(number){
    return parseFloat(number).toFixed(2).replace(/./g, function(c, i, a) {
      return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
    });
  }

  $(document).ready(function(){
    numbers_to_format = $(".money_format");
    numbers_to_format.each(function(){
      $(this).html(money_format($(this).text()));
    });
  });
</script>

<%= stylesheet_link_tag 'ekko-lightbox.min', media: 'all' %>
<%= javascript_include_tag 'ekko-lightbox.min' %>
