<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= yield :keywords %>">
  <meta name="description" content="<%= yield :meta_description %>">
  
  <title><%= yield :title %> | Black Brocket</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<body style="padding-top: 50px;">
  <div id="container">

    <%= render "shared/clients/navbar" %>

    <div id="body">
      <div class="container">
        <!--Alerts-->
        <div id="dismissible_alerts">
          <!-- Should have only 1 flash at the same time -->
          <% flash.each do |message_type, message| %>
            <%= render partial: "/shared/dismissible_alert", locals: {message_type: message_type, message: message.html_safe} %>
          <% end %>
        </div>
        <!--End Alerts-->

        <%= yield %>
      </div>
    </div>

    <%= render '/shared/clients/footer.html.erb' %>  

  </div>
</body>
</html>

<style>
  .client-header{
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
</style>

<%= render "shared/loader" %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-739220260"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-739220260'); 
</script>

<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-739220260/baaCCN-u76EBEKS2vuAC',
      'event_callback': callback
  });
  return false;
}
</script>
