<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= yield :keywords %>">
  <meta name="description" content="<%= yield :meta_description %>">

  <title><%= yield :title %> | Black Brocket</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
  <%= stylesheet_link_tag 'static_pages', media: 'all' %>
  <%= javascript_include_tag 'static_pages' %>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2054667921249584');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2054667921249584&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>

  <%= render '/shared/clients/navbar.html.erb' %>

  <!--Alerts-->
  <div id="dismissible_alerts">
    <!-- Should have only 1 flash at the same time -->
    <% flash.each do |message_type, message| %>
      <%= render partial: "/shared/dismissible_alert", locals: {message_type: message_type, message: message.html_safe} %>
    <% end %>
  </div>
  <!--End Alerts-->

  <!-- Content -->
  <%= yield %>
  <!--  Content end -->

  <%= render '/shared/clients/footer.html.erb' %>

</body>
</html>

<style media="screen">
  .navbar-brand{
    padding: 5px 15px !important;
  }
  .navbar-brand img {
    height: 41px;
    width: 41px;
  }
</style>
