<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %> | BlackBrocket</title>

  <!--stylesheets-->
  <%= stylesheet_link_tag 'static_pages', media: 'all' %>
  <!--javascripts-->
  <%= javascript_include_tag 'static_pages' %>
</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>

  <%= render '/shared/clients/navbar.html.erb' %>

  <!--Alerts-->
  <div id="dismissible_alerts">
    <!-- Should have only 1 flash at the same time -->
    <% flash.each do |message_type, message| %>
      <%= render partial: "/shared/dismissible_alert", locals: {message_type: message_type, message: message.html_safe} %>
    <% end %>
  </div>
  <!--End Alerts-->

  <!-- Content -->
  <%= yield %>
  <!--  Content end -->

  <%= render '/shared/clients/footer.html.erb' %>

</body>
</html>

<style media="screen">
  .navbar-brand{
    padding: 5px 15px !important;
  }
  .navbar-brand img {
    height: 41px;
    width: 41px;
  }
</style>
