<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield(:title) %> | BlackBrocket</title>

  <!--stylesheets-->
  <%= stylesheet_link_tag 'static_pages', media: 'all' %>
  <!--javascripts-->
  <%= javascript_include_tag 'static_pages' %>
</head>

<body>

  <!-- Preloader -->
  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>

  <!-- Navigation start -->
  <!--Check-->
  <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation" style="min-height: 53px;">

    <div class="container">

      <!--Alerts-->
      <div id="dismissible_alerts">
        <!-- Should have only 1 flash at the same time -->
        <% flash.each do |message_type, message| %>
          <%= render partial: "/shared/dismissible_alert", locals: {message_type: message_type, message: message.html_safe} %>
        <% end %>
      </div>
      <!--End Alerts-->

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="<%=root_path%>"><%= image_tag("BBGLogo.png", style:"width:41px;  margin-top: -10px;") %></a>

      </div>
      <!--Check end-->

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right text-shadow-black">
          <li class="dropdown">
            <%= link_to "Quiénes somos", root_path(anchor: 'about') %>
          </li>
          <li class="dropdown">
            <%= link_to "Servicios", root_path(anchor: 'services') %>
          </li>
          <li class="dropdown">
            <%= link_to "Galería", root_path(anchor: 'gallery') %>
          </li>
          <li class="dropdown">
            <%= link_to "Contacto", root_path(anchor: 'contact') %>
          </li>
          <li class="dropdown">
            <%= link_to "Productos", products_path %>
          </li>
          <% if !logged_in?%>
            <li class="yes-mobile">
              <%= link_to "Iniciar sesión", log_in_path %>
            </li>
            <li>
              <%= link_to "Regístrate", client_sign_up_path %>
            </li>
            <li class="no-mobile page-scroll">
              <%= link_to "Iniciar sesión", log_in_path %>
            </li>
          <% else %>
            <% notifications = @current_user.Notifications.order(created_at: :DESC).limit(5) %>
            <!--Start Dropdown notifications-->
            <li class="dropdown" style="padding-bottom: 2px;">
               <a class="count-info" data-toggle="dropdown" href="off_canvas_menu.html#">
                 <i class="icon-bell" style="font-size: 16px;"></i>
                 <% notifications_not_seen_count = @current_user.Notifications.where(:seen => false).size %>
                 <% if notifications_not_seen_count > 0 %>
                   <span class="badge" style="background-color: #F44336;position: absolute;top: 10px;left: 28px;">
                     <%= notifications_not_seen_count %>
                   </span>
                 <% end # if notifications_not_seen_count > 0 # %>
               </a>
               <ul class="dropdown-menu dropdown-alerts dropdown-version2" style="text-shadow: none;">
                 <% notifications.each do |n|%>
                    <li>
                       <a href="<%= n.url %>?notification=<%=n.id%>">
                        <div style="overflow: auto;">
                          <i class="<%= n.icon %>"></i>
                          <%= n.description %>
                          <% if n.seen %>
                            <i class="fa fa-check" style="color: #8BC34A;"></i>
                          <% else %>
                            <i class="fa fa-close" style="color: #F44336;"></i>
                          <% end %>
                        </div>
                       </a>
                    </li>
                  <% end %>
                  <li class="divider" style="margin: 0px;"></li>
                  <li>
                    <%= link_to client_notifications_path(@current_user.alph_key) do %>
                      <strong>Ver notificaciones ></strong>
                    <% end %>
                  </li>
               </ul>
            </li>
            <!--End Dropdown notifications-->
            <!--Start Dropdown profile and cart-->
            <li class="dropdown">
              <a href="#" class="less_padding" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-bottom: 12px;padding-top: 14px;">
                <%= image_tag User.getImage(@current_user, :mini),
                    style: "margin-right: 5px;width: 25px;border-radius: 4px;" %>
                <%= @current_user.username %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-alerts dropdown-version2" style="margin-top: 1px;text-shadow: none;">
                <!--<li><%= link_to "Mi perfil", client_path(@current_user.alph_key) %></li>-->
                <li><%= link_to "Tips y Recetas", tips_path %></li>
                <!--<li><%= link_to "Mi carrito", client_ecart_path(@current_user.alph_key) %></li>-->
                <li><%= link_to "Mis órdenes", client_orders_path(@current_user.alph_key) %></li>
                <li><%= link_to "Editar perfil", edit_client_client_path(@current_user.alph_key) %></li>
                <li><%= link_to "Editar información fiscal", edit_client_fiscal_datum_path(@current_user.alph_key) %></li>
                <li><%= link_to "Distribuidores en la zona", client_my_distributor_path %></li>
                <li role="separator" class="divider" style="margin: 0px;"></li>
                <li><%= link_to "Dar de baja mi cuenta", client_destroy_account_path(@current_user.alph_key) %></li>
                <li role="separator" class="divider" style="margin: 0px;"></li>
                <li><%= link_to "Cerrar sesión", log_out_path, method: "delete" %></li>
              </ul>
            </li>
            <li>
              <%= link_to '<i class="icon-basket-loaded" style="font-size: 23px;"></i>'.html_safe,
                  client_ecart_path(@current_user.alph_key), style: "padding-top: 11px; padding-bottom: 10px;"%>
              <% if !session[:e_cart].nil? %>
                <span id="ecart-badge" class="badge" style="background-color: #f0ad4e;position: absolute;top: 10px;left: 35px;">
                  <%= session[:e_cart].size %>
                </span>
              <% end %>
            </li>
            <!--End Dropdown profile and cart-->
          <% end %>
        </ul>
      </div>

    </div><!-- .container -->

  </nav>
  <!-- Navigation end -->


  <!-- Content -->
  <%= yield %>
  <!--  Content end -->

  <!-- Footer start -->
  <footer id="footer">
    <div class="container">
      <div class="row" style="padding-bottom: 5px;">
        <div class="col-sm-12">
          <p class="copyright pull-left">
           Copyright &copy; BlackBrocket <%=Time.now.year%>
          </p>
          <p class="pull-left" style="margin-left: 2em;">
            <%= link_to "Quiero ser distribuidor", distributor_request_path %>
          </p>
          <ul class="social-links pull-right">
            <% social = SocialNetwork.all %>
            <% social.each do |s| %>
              <li><a href="<%= s.url %>"><%= s.icon.html_safe %></a></li>
            <% end %>
          </ul>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
    <div class="row position-relative margin-0" style="border-top: 1px dashed #585858;padding-bottom: 10px;"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <ul class="pull-left" style="text-align: left;list-style-type: none;padding-left: 0px;">
            <!--<li><%= link_to "Política de Privacidad", privacy_policy_path %></li>
            <li><%= link_to "Términos y Condiciones de Uso", terms_of_service_path %></li>-->
            <% details = FooterExtraDetail.all %>
            <% details.each do |detail| %>
              <li><%= detail.detail %></li>
            <% end #details.each#%>
          </ul>
        </div>
        <div class="col-sm-4">
            <b class="pull-left">Legal:</b>
            <ul class="pull-left" style="text-align: left;list-style-type: none;">
              <li><%= link_to "Política de Privacidad", privacy_policy_path %></li>
              <li><%= link_to "Términos y Condiciones de Uso", terms_of_service_path %></li>
            </ul>
<a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/blackbrocket.ddns.net"><img src="https://seal.beyondsecurity.com/verification-images/blackbrocket.ddns.net/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </footer>
  <!-- Footer end -->

</body>
</html>
